<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sysusersystem.mapper.JzDutyEditUserRecordMapper">
    
    <resultMap type="JzDutyEditUserRecord" id="JzDutyEditUserRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="userId"    column="user_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"/>
    </resultMap>

    <sql id="selectJzDutyEditUserRecordVo">
        select record_id, user_id, update_time, create_time, remark from jz_duty_edit_user_record
    </sql>

    <select id="selectJzDutyEditUserRecordList" parameterType="JzDutyEditUserRecord" resultMap="JzDutyEditUserRecordResult">
        <include refid="selectJzDutyEditUserRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>
    
    <select id="selectJzDutyEditUserRecordById" parameterType="Long" resultMap="JzDutyEditUserRecordResult">
        <include refid="selectJzDutyEditUserRecordVo"/>
        where record_id = #{recordId}
    </select>
        
    <insert id="insertJzDutyEditUserRecord" parameterType="JzDutyEditUserRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into jz_duty_edit_user_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateJzDutyEditUserRecord" parameterType="JzDutyEditUserRecord">
        update jz_duty_edit_user_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteJzDutyEditUserRecordById" parameterType="Long">
        delete from jz_duty_edit_user_record where record_id = #{recordId}
    </delete>

    <delete id="deleteJzDutyEditUserRecordByIds" parameterType="String">
        delete from jz_duty_edit_user_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
    
</mapper>