<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sysusersystem.mapper.JzDutyUserLogMapper">
    
    <resultMap type="JzDutyUserLog" id="JzDutyUserLogResult">
        <result property="dutyUserId"    column="duty_user_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="planId"    column="plan_id"    />
        <result property="planName"    column="plan_name"    />
        <result property="type"    column="type"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectJzDutyUserVo">
        select duty_user_id, user_id, plan_id,type,state, create_time, update_time, remark from jz_duty_user_log
    </sql>
    <sql id="selectVo">
    SELECT DISTINCT
	jdu.duty_user_id,
	jdu.user_id,
	jdu.system_id,
	ju.user_name user_name,
	jp.title plan_name,
	jdu.plan_id,
	jdu.type,
	jdu.state,
	jdu.create_time,
	jdu.update_time,
	jdu.remark
    FROM
	jz_duty_user_log jdu
    LEFT JOIN jz_user ju ON ju.user_id = jdu.user_id
    LEFT JOIN jz_plan jp ON jp.plan_id = jdu.plan_id
    </sql>
    <select id="selectJzDutyUserList" parameterType="JzDutyUser" resultMap="JzDutyUserLogResult">
        <include refid="selectVo"/>
        <where>
            <if test="userId != null and userId !=''"> and jdu.user_id = #{userId}</if>
            <if test="planId != null and planId !=''"> and jdu.plan_id = #{planId}</if>
            <if test="state != null  and state != ''"> and jdu.state = #{state}</if>
            <if test="type != null  and type != ''"> and jdu.type = #{type}</if>
        </where>
    </select>
    
    <select id="selectJzDutyUserById" parameterType="Long" resultMap="JzDutyUserLogResult">
        <include refid="selectVo"/>
        where duty_user_id = #{dutyUserId}
    </select>
    <select id="selectDbzLogList" resultType="com.ruoyi.sysusersystem.domain.JzDutyUserLog">
        <include refid="selectVo"/>
        <where>
            <if test="userId != null and userId !='' "> and user_id = #{userId}</if>
            <if test="planId != null and planId !='' "> and plan_id = #{planId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="type != null  and type != ''"> and type = #{state}</if>
            <if test="array !=null" >
                AND  jdu.system_id  in
                <foreach item="systemIds" collection="array" open="(" separator="," close=")">
                    #{systemIds}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertJzDutyUser" parameterType="JzDutyUserLog" useGeneratedKeys="true" keyProperty="dutyUserId">
        insert into jz_duty_user_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dutyUserId!= null">duty_user_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="planId != null ">plan_id,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="type != null  and type != ''">type</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dutyUserId!= null">#{dutyUserId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="planId != null ">#{planId},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="type != null  and type != ''">#{type},</if>
         </trim>
    </insert>
    <insert id="insertJzPlanLogList">
        insert into jz_duty_user_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="duty_user_id!=null || duty_user_id !=''">duty_user_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="planId != null ">plan_id,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="type != null  and type != ''">type</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dutyUserId!=null">#{dutyUserId,}</if>
            <if test="userId != null ">#{userId},</if>
            <if test="planId != null ">#{planId},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="type != null  and type != ''">#{type}</if>
        </trim>
    </insert>

    <update id="updateJzDutyUser" parameterType="JzDutyUser">
        update jz_duty_user_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="planId != null ">plan_id = #{planId},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="type != null  and type != ''">type = #{type}</if>
        </trim>
        where duty_user_id = #{dutyUserId}
    </update>

    <delete id="deleteJzDutyUserById" parameterType="Long">
        delete from jz_duty_user_log where duty_user_id = #{dutyUserId}
    </delete>

    <delete id="deleteJzDutyUserByIds" parameterType="String">
        delete from jz_duty_user_log where duty_user_id in
        <foreach item="dutyUserId" collection="array" open="(" separator="," close=")">
            #{dutyUserId}
        </foreach>
    </delete>

    <insert id="zhiBan" parameterType="String" >
    INSERT INTO jz_duty_user_log SELECT * FROM jz_duty_user WHERE plan_id IN
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </insert>

</mapper>