<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.emergency.mapper.JzEmergencyUserMapper">
    
    <resultMap type="JzEmergencyUser" id="JzEmergencyUserResult">
        <result property="userId"    column="user_id"    />
        <result property="emergencyPlanId"    column="emergency_plan_id"    />
        <result property="emergencyPlanName"    column="emergency_plan_name"    />
        <result property="groupLeaderId"    column="group_leader_id"    />
        <result property="groupLeaderName"    column="group_leader_name"    />
        <result property="viceGroupLeaderId"    column="vice_group_leader_id"    />
        <result property="groupUserId"    column="group_user_id"    />
    </resultMap>

    <sql id="selectJzEmergencyUserVo">
        select user_id, emergency_plan_id, group_leader_id, vice_group_leader_id, group_user_id from jz_emergency_user
    </sql>
    <sql id="selectVO">
select jeu.user_id, jeu.emergency_plan_id,jep.title emergency_plan_name, jeu.group_leader_id,ju.user_name group_leader_name, jeu.vice_group_leader_id, jeu.group_user_id from jz_emergency_user jeu
LEFT JOIN jz_emergency_plan jep ON  jeu.emergency_plan_id = jep.plan_id
LEFT JOIN jz_user ju ON jeu.group_leader_id = ju.user_id
    </sql>

    <select id="selectJzEmergencyUserList" parameterType="JzEmergencyUser" resultMap="JzEmergencyUserResult">
        <include refid="selectVO"/>
        <where>  
            <if test="emergencyPlanId != null "> and emergency_plan_id = #{emergencyPlanId}</if>
            <if test="groupLeaderId != null  and groupLeaderId != ''"> and group_leader_id = #{groupLeaderId}</if>
            <if test="viceGroupLeaderId != null  and viceGroupLeaderId != ''"> and vice_group_leader_id = #{viceGroupLeaderId}</if>
            <if test="groupUserId != null  and groupUserId != ''"> and group_user_id = #{groupUserId}</if>
        </where>
    </select>
    
<!--    <select id="selectJzEmergencyUserById" parameterType="Long" resultMap="JzEmergencyUserResult">-->
<!--        <include refid="selectVO"/>-->
<!--        where user_id = #{userId}-->
<!--    </select>-->
    <select id="selectJzEmergencyUserById" parameterType="Long" resultMap="JzEmergencyUserResult">
        <include refid="selectVO"/>
        where jeu.user_id = #{userId}
    </select>

    <insert id="insertJzEmergencyUser" parameterType="JzEmergencyUser" useGeneratedKeys="true" keyProperty="userId">
        insert into jz_emergency_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="emergencyPlanId != null ">emergency_plan_id,</if>
            <if test="groupLeaderId != null  and groupLeaderId != ''">group_leader_id,</if>
            <if test="viceGroupLeaderId != null  and viceGroupLeaderId != ''">vice_group_leader_id,</if>
            <if test="groupUserId != null  and groupUserId != ''">group_user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="emergencyPlanId != null ">#{emergencyPlanId},</if>
            <if test="groupLeaderId != null  and groupLeaderId != ''">#{groupLeaderId},</if>
            <if test="viceGroupLeaderId != null  and viceGroupLeaderId != ''">#{viceGroupLeaderId},</if>
            <if test="groupUserId != null  and groupUserId != ''">#{groupUserId},</if>
         </trim>
    </insert>

    <update id="updateJzEmergencyUser" parameterType="JzEmergencyUser">
        update jz_emergency_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="emergencyPlanId != null ">emergency_plan_id = #{emergencyPlanId},</if>
            <if test="groupLeaderId != null  and groupLeaderId != ''">group_leader_id = #{groupLeaderId},</if>
            <if test="viceGroupLeaderId != null  and viceGroupLeaderId != ''">vice_group_leader_id = #{viceGroupLeaderId},</if>
            <if test="groupUserId != null  and groupUserId != ''">group_user_id = #{groupUserId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteJzEmergencyUserById" parameterType="Long">
        delete from jz_emergency_user where user_id = #{userId}
    </delete>

    <delete id="deleteJzEmergencyUserByIds" parameterType="String">
        delete from jz_emergency_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
</mapper>