<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.mapper.JzEquipmentSpecificationsMapper">
    
    <resultMap type="JzEquipmentSpecifications" id="JzEquipmentSpecificationsResult">
        <result property="spId"    column="sp_id"    />
        <result property="spName"    column="sp_name"    />
        <result property="systemId"    column="system_id"    />
        <result property="systemName"    column="system_Name"    />
        <result property="sbId"    column="sb_id"    />
        <result property="sbName"    column="sb_name"    />
        <result property="createId"    column="create_id"    />
        <result property="createName"    column="create_name"    />
        <result property="zl"    column="zl"    />
        <result property="gl"    column="gl"    />
        <result property="dy"    column="dy"    />
        <result property="dl"    column="dl"    />
        <result property="zs"    column="zs"    />
        <result property="zz"    column="zz"    />
        <result property="kzfs"    column="kzfs"    />
        <result property="kzyl"    column="kzyl"    />
        <result property="remark"    column="remark"    />
        <result property="erName"    column="er_name"    />
        <result property="ggXh"    column="gg_xh"    />
        <result property="num"    column="num"    />
        <result property="type"    column="type"    />
        <result property="erType"    column="er_type"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectJzEquipmentSpecificationsVo">
--         select sp_id, sp_name, system_id, sb_id, create_id, zl, gl, dy, dl, zs, zz, kzfs, kzyl, remark from jz_equipment_specifications
    SELECT es.*,k.dept_name  system_name,e.sb_name sbName,su.user_name create_name FROM jz_equipment_specifications es
    LEFT JOIN sys_dept k ON k.dept_id = es.system_id
    LEFT JOIN jz_equipment e ON e.sb_id = es.sb_id
    LEFT JOIN sys_user su ON su.create_by=es.create_id

    </sql>
    <sql id="selectJzEquipmentSpecificationsRepVo">
         SELECT distinct es.*,k.dept_name system_name,e.sb_name sb_name,er.name er_name ,er.gg_xh gg_xh,er.num num,s.dict_label s_type,er.type er_type,er.state state FROM jz_equipment_specifications es
    LEFT JOIN sys_dept k ON k.dept_id = es.system_id
    LEFT JOIN jz_equipment e ON e.sb_id = es.sb_id
    LEFT JOIN jz_equipment_rep er ON  er.sp_id=es.sp_id
    LEFT JOIN sys_dict_data s ON s.dict_value=er.type AND s.dict_type = 'leixing_ku'
    </sql>
    <select id="selectJzEquipmentSpecificationsList" parameterType="JzEquipmentSpecifications" resultMap="JzEquipmentSpecificationsResult">
        <include refid="selectJzEquipmentSpecificationsVo"/>
        <where>  
            <if test="spName != null  and spName != ''"> and sp_name like concat('%', #{spName}, '%')</if>
            <if test="systemId != null "> and system_id = #{systemId}</if>
            <if test="sbId != null "> and sb_id = #{sbId}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="zl != null  and zl != ''"> and zl = #{zl}</if>
            <if test="gl != null  and gl != ''"> and gl = #{gl}</if>
            <if test="dy != null  and dy != ''"> and dy = #{dy}</if>
            <if test="dl != null  and dl != ''"> and dl = #{dl}</if>
            <if test="zs != null  and zs != ''"> and zs = #{zs}</if>
            <if test="zz != null  and zz != ''"> and zz = #{zz}</if>
            <if test="kzfs != null  and kzfs != ''"> and kzfs = #{kzfs}</if>
            <if test="kzyl != null  and kzyl != ''"> and kzyl = #{kzyl}</if>
        </where>
    </select>
    <select id="selectJzEquipmentSpecificationsRepList" parameterType="JzEquipmentSpecifications" resultMap="JzEquipmentSpecificationsResult">
        <include refid="selectJzEquipmentSpecificationsRepVo"/>
        <where>
            <if test="spName != null  and spName != ''"> and es.sp_name like concat('%', #{spName}, '%')</if>
            <if test="systemId != null "> and e.system_id = #{systemId}</if>
            <if test="sbId != null "> and e.sb_id = #{sbId}</if>
            <if test="erName != null  and erName != ''"> and er.name like concat('%', #{erName}, '%')</if>
            <if test="sbName != null  and sbName != ''"> and e.sb_name like concat('%', #{sbsName}, '%')</if>
            <if test="ggXh != null  and ggXh != ''"> and er.gg_xh = #{ggXh}</if>
            <if test="num != null "> and er.num = #{num}</if>
            <if test="erType != null  and erType != ''"> and er.type = #{erType}</if>
            <if test="state != null  and state != ''"> and er.state = #{state}</if>
        </where>
    </select>
    <select id="esList" parameterType="JzEquipmentSpecifications" resultMap="JzEquipmentSpecificationsResult">
    SELECT * from jz_equipment_specifications
    </select>

    <select id="esrList" parameterType="Long" resultMap="JzEquipmentSpecificationsResult">
  SELECT es.*,k.dept_name system_name,e.sb_name sbName,er.name er_name ,er.gg_xh gg_xh,er.num num,er.type ,er.state FROM jz_equipment_specifications es
    LEFT JOIN sys_dept k ON k.dept_id = es.system_id
    LEFT JOIN jz_equipment e ON e.sb_id = es.sb_id
    LEFT JOIN jz_equipment_rep er ON  er.sp_id=es.sp_id
    WHERE 1=1
        <if test="sbId != null "> and es.sb_id = #{sbId}</if>

    </select>

    <select id="selectJzEquipmentSpecificationsById" parameterType="Long" resultMap="JzEquipmentSpecificationsResult">
<!--        <include refid="selectJzEquipmentSpecificationsVo"/>-->
        <include refid="selectJzEquipmentSpecificationsRepVo"/>
        where es.sp_id = #{spId}
    </select>
        
    <insert id="insertJzEquipmentSpecifications" parameterType="JzEquipmentSpecifications" useGeneratedKeys="true" keyProperty="spId">
        insert into jz_equipment_specifications
        <trim prefix="(" suffix=")" suffixOverrides=",">
<!--            <if test="spId != null ">sp_id,</if>-->
            <if test="spName != null  and spName != ''">sp_name,</if>
            <if test="systemId != null ">system_id,</if>
            <if test="sbId != null ">sb_id,</if>
            <if test="createId != null ">create_id,</if>
            <if test="zl != null  and zl != ''">zl,</if>
            <if test="gl != null  and gl != ''">gl,</if>
            <if test="dy != null  and dy != ''">dy,</if>
            <if test="dl != null  and dl != ''">dl,</if>
            <if test="zs != null  and zs != ''">zs,</if>
            <if test="zz != null  and zz != ''">zz,</if>
            <if test="kzfs != null  and kzfs != ''">kzfs,</if>
            <if test="kzyl != null  and kzyl != ''">kzyl,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
<!--            <if test="spId != null ">#{spId},</if>-->
            <if test="spName != null  and spName != ''">#{spName},</if>
            <if test="systemId != null ">#{systemId},</if>
            <if test="sbId != null ">#{sbId},</if>
            <if test="createId != null ">#{createId},</if>
            <if test="zl != null  and zl != ''">#{zl},</if>
            <if test="gl != null  and gl != ''">#{gl},</if>
            <if test="dy != null  and dy != ''">#{dy},</if>
            <if test="dl != null  and dl != ''">#{dl},</if>
            <if test="zs != null  and zs != ''">#{zs},</if>
            <if test="zz != null  and zz != ''">#{zz},</if>
            <if test="kzfs != null  and kzfs != ''">#{kzfs},</if>
            <if test="kzyl != null  and kzyl != ''">#{kzyl},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateJzEquipmentSpecifications" parameterType="JzEquipmentSpecifications">
        update jz_equipment_specifications
        <trim prefix="SET" suffixOverrides=",">
            <if test="spName != null  and spName != ''">sp_name = #{spName},</if>
            <if test="systemId != null ">system_id = #{systemId},</if>
            <if test="sbId != null ">sb_id = #{sbId},</if>
            <if test="createId != null ">create_id = #{createId},</if>
            <if test="zl != null  and zl != ''">zl = #{zl},</if>
            <if test="gl != null  and gl != ''">gl = #{gl},</if>
            <if test="dy != null  and dy != ''">dy = #{dy},</if>
            <if test="dl != null  and dl != ''">dl = #{dl},</if>
            <if test="zs != null  and zs != ''">zs = #{zs},</if>
            <if test="zz != null  and zz != ''">zz = #{zz},</if>
            <if test="kzfs != null  and kzfs != ''">kzfs = #{kzfs},</if>
            <if test="kzyl != null  and kzyl != ''">kzyl = #{kzyl},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where sp_id = #{spId}
    </update>

    <update id="updateJzEquipmentSpecificationsRep" parameterType="JzEquipmentSpecifications">
        update jz_equipment_specifications es LEFT JOIN jz_equipment_rep er ON es.sp_id=er.sp_id
        <trim prefix="SET" suffixOverrides=",">
            <if test="spName != null  and spName != ''">es.sp_name = #{spName},</if>
            <if test="systemId != null ">es.system_id = #{systemId},</if>
            <if test="sbId != null ">es.sb_id = #{sbId},</if>
            <if test="createId != null ">es.create_id = #{createId},</if>
            <if test="zl != null  and zl != ''">es.zl = #{zl},</if>
            <if test="gl != null  and gl != ''">es.gl = #{gl},</if>
            <if test="dy != null  and dy != ''">es.dy = #{dy},</if>
            <if test="dl != null  and dl != ''">es.dl = #{dl},</if>
            <if test="zs != null  and zs != ''">es.zs = #{zs},</if>
            <if test="zz != null  and zz != ''">es.zz = #{zz},</if>
            <if test="kzfs != null  and kzfs != ''">es.kzfs = #{kzfs},</if>
            <if test="kzyl != null  and kzyl != ''">es.kzyl = #{kzyl},</if>
            <if test="remark != null  and remark != ''">es.remark = #{remark},</if>
            <if test="spId != null ">er.sp_id = #{spId},</if>
            <if test="erName != null  and erName != ''">er.name = #{erName},</if>
            <if test="ggXh != null  and ggXh != ''">er.gg_xh = #{ggXh},</if>
            <if test="num != null ">er.num = #{num},</if>
            <if test="type != null  and type != ''">er.type = #{type},</if>
            <if test="state != null  and state != ''">er.state = #{state},</if>
        </trim>
        where es.sp_id = #{spId}
    </update>

    <delete id="deleteJzEquipmentSpecificationsById" parameterType="Long">
        delete from jz_equipment_specifications where sp_id = #{spId}
    </delete>

    <delete id="deleteJzEquipmentSpecificationsByIds" parameterType="String">
        delete from jz_equipment_specifications where sp_id in 
        <foreach item="spId" collection="array" open="(" separator="," close=")">
            #{spId}
        </foreach>
    </delete>
    
</mapper>