<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.mapper.JzEquipmentMapper">
    
    <resultMap type="JzEquipment" id="JzEquipmentResult">
        <result property="sbId"    column="sb_id"    />
        <result property="systemId"    column="system_id"    />
        <result property="systemName"    column="system_name"    />
        <result property="spId"    column="sp_id"    />
        <result property="num"    column="num"    />
        <result property="sbName"    column="sb_name"    />
        <result property="sbCode"    column="sb_code"    />
        <result property="sbModel"    column="sb_model"    />
        <result property="azAddr"    column="az_addr"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="azTime"    column="az_time"    />
        <result property="beginAzTime"    column="az_time"    />
        <result property="endAzTime"    column="az_time"    />
        <result property="outTime"    column="out_time"    />
        <result property="beginOutTime"    column="out_time"    />
        <result property="endOutTime"    column="out_time"    />
        <result property="outNum"    column="out_num"    />
        <result property="inTime"    column="in_time"    />
        <result property="beginInTime"    column="in_time"    />
        <result property="endInTime"    column="in_time"    />
        <result property="jjYsTime"    column="jj_ys_time"    />
        <result property="beginJjYsTime"    column="jj_ys_time"    />
        <result property="endJjYsTime"    column="jj_ys_time"    />
        <result property="syTime"    column="sy_time"    />
        <result property="beginSyTime"    column="sy_time"    />
        <result property="endSyTime"    column="sy_time"    />
        <result property="azName"    column="az_name"    />
        <result property="state"    column="state"    />
        <result property="djTime"    column="dj_time"    />
        <result property="beginDjTime"    column="dj_time"    />
        <result property="endDjTime"    column="dj_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="JzEquipment" id="JzEquipmentResultMap">
        <result property="sbId"    column="sb_id"    />
        <result property="systemId"    column="system_id"    />
        <result property="systemName"    column="system_name"    />
        <result property="spId"    column="sp_id"    />
        <result property="num"    column="num"    />
        <result property="sbName"    column="sb_name"    />
        <result property="sbCode"    column="sb_code"    />
        <result property="sbModel"    column="sb_model"    />
        <result property="azAddr"    column="az_addr"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="azTime"    column="az_time"    />
        <result property="beginAzTime"    column="az_time"    />
        <result property="endAzTime"    column="az_time"    />
        <result property="outTime"    column="out_time"    />
        <result property="beginOutTime"    column="out_time"    />
        <result property="endOutTime"    column="out_time"    />
        <result property="outNum"    column="out_num"    />
        <result property="inTime"    column="in_time"    />
        <result property="beginInTime"    column="in_time"    />
        <result property="endInTime"    column="in_time"    />
        <result property="jjYsTime"    column="jj_ys_time"    />
        <result property="beginJjYsTime"    column="jj_ys_time"    />
        <result property="endJjYsTime"    column="jj_ys_time"    />
        <result property="syTime"    column="sy_time"    />
        <result property="beginSyTime"    column="sy_time"    />
        <result property="endSyTime"    column="sy_time"    />
        <result property="azName"    column="az_name"    />
        <result property="state"    column="state"    />
        <result property="djTime"    column="dj_time"    />
        <result property="beginDjTime"    column="dj_time"    />
        <result property="endDjTime"    column="dj_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectJzEquipmentVo">
    SELECT e.*,k.dept_name  system_name,s.supplier_name supplier_name FROM jz_equipment e
        LEFT JOIN sys_dept k ON k.dept_id = e.system_id
        LEFT JOIN jz_supplier s ON s.supplier_id = e.supplier_id
    </sql>
    <sql id="selectJzEquipmentVoList" >
         select sb_id, system_id, num, sb_name, sb_code, sb_model, az_addr, supplier_id, az_time, out_time, out_num, in_time, jj_ys_time, sy_time, az_name, state, dj_time, create_time, update_time, remark from jz_equipment
    </sql>

    <select id="selectJzEquipmentList" parameterType="JzEquipment" resultMap="JzEquipmentResult">
        <include refid="selectJzEquipmentVo"/>
        <where>
            <if test="systemId != null "> and e.system_id = #{systemId}</if>
            <if test="spId != null  and spId != ''"> and sp_id = #{spId}</if>
            <if test="num != null  and num != ''"> and e.num = #{num}</if>
            <if test="sbName != null  and sbName != ''"> and e.sb_name like concat('%', #{sbName}, '%')</if>
            <if test="sbCode != null  and sbCode != ''"> and e.sb_code = #{sbCode}</if>
            <if test="sbModel != null  and sbModel != ''"> and e.sb_model = #{sbModel}</if>
            <if test="azAddr != null  and azAddr != ''"> and e.az_addr = #{azAddr}</if>
            <if test="supplierId != null "> and e.supplier_id = #{supplierId}</if>
            <if test="azTime != null "> and e.az_time = #{azTime}</if>
            <if test="beginAzTime != null "> and e.az_time <![CDATA[ >= ]]> #{beginAzTime}</if>
            <if test="endAzTime != null "> and e.az_time  <![CDATA[ <= ]]> #{endAzTime}</if>
            <if test="outTime != null "> and e.out_time = #{outTime}</if>
            <if test="beginOutTime != null "> and e.out_time <![CDATA[ >= ]]> #{beginOutTime}</if>
            <if test="endOutTime != null "> and e.out_time <![CDATA[ <= ]]> #{endOutTime}</if>
            <if test="outNum != null  and outNum != ''"> and e.out_num = #{outNum}</if>
            <if test="inTime != null "> and e.in_time = #{inTime}</if>
            <if test="beginInTime != null "> and e.in_time <![CDATA[ >= ]]> #{beginInTime}</if>
            <if test="endInTime != null "> and e.in_time <![CDATA[ <= ]]> #{endInTime}</if>
            <if test="jjYsTime != null "> and e.jj_ys_time = #{jjYsTime}</if>
            <if test="beginJjYsTime != null "> and e.jj_ys_time <![CDATA[ >= ]]> #{beginJjYsTime}</if>
            <if test="endJjYsTime != null "> and e.jj_ys_time <![CDATA[ <= ]]> #{endJjYsTime}</if>
            <if test="syTime != null "> and e.sy_time = #{syTime}</if>
            <if test="beginSyTime != null "> and e.sy_time <![CDATA[ >= ]]> #{beginSyTime}</if>
            <if test="endSyTime != null "> and e.sy_time <![CDATA[ <= ]]> #{endSyTime}</if>
            <if test="azName != null  and azName != ''"> and e.az_name like concat('%', #{azName}, '%')</if>
            <if test="state != null  and state != ''"> and e.state = #{state}</if>
            <if test="djTime != null "> and e.dj_time = #{djTime}</if>
            <if test="beginDjTime != null "> and e.dj_time <![CDATA[ >= ]]> #{beginDjTime}</if>
            <if test="endDjTime != null "> and e.dj_time <![CDATA[ <= ]]> #{endDjTime}</if>
        </where>
        order by  create_time desc
    </select>

    <select id="sbList" parameterType="JzEquipment" resultMap="JzEquipmentResult">
        SELECT * FROM jz_equipment
    </select>
    <select id="selectJzEquipmentById" parameterType="Long" resultMap="JzEquipmentResult">
        <include refid="selectJzEquipmentVo"/>
        where sb_id = #{sbId}
    </select>
        
    <insert id="insertJzEquipment" parameterType="JzEquipment" useGeneratedKeys="true" keyProperty="sbId">
        insert into jz_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemId != null ">system_id,</if>
            <if test="spId != null  and spId != ''">sp_id,</if>
            <if test="num != null  and num != ''">num,</if>
            <if test="sbName != null  and sbName != ''">sb_name,</if>
            <if test="sbCode != null  and sbCode != ''">sb_code,</if>
            <if test="sbModel != null  and sbModel != ''">sb_model,</if>
            <if test="azAddr != null  and azAddr != ''">az_addr,</if>
            <if test="supplierId != null ">supplier_id,</if>
            <if test="azTime != null ">az_time,</if>
            <if test="outTime != null ">out_time,</if>
            <if test="outNum != null  and outNum != ''">out_num,</if>
            <if test="inTime != null ">in_time,</if>
            <if test="jjYsTime != null ">jj_ys_time,</if>
            <if test="syTime != null ">sy_time,</if>
            <if test="azName != null  and azName != ''">az_name,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="djTime != null ">dj_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemId != null ">#{systemId},</if>
            <if test="spId != null  and spId != ''">#{spId},</if>
            <if test="num != null  and num != ''">#{num},</if>
            <if test="sbName != null  and sbName != ''">#{sbName},</if>
            <if test="sbCode != null  and sbCode != ''">#{sbCode},</if>
            <if test="sbModel != null  and sbModel != ''">#{sbModel},</if>
            <if test="azAddr != null  and azAddr != ''">#{azAddr},</if>
            <if test="supplierId != null ">#{supplierId},</if>
            <if test="azTime != null ">#{azTime},</if>
            <if test="outTime != null ">#{outTime},</if>
            <if test="outNum != null  and outNum != ''">#{outNum},</if>
            <if test="inTime != null ">#{inTime},</if>
            <if test="jjYsTime != null ">#{jjYsTime},</if>
            <if test="syTime != null ">#{syTime},</if>
            <if test="azName != null  and azName != ''">#{azName},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="djTime != null ">#{djTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateJzEquipment" parameterType="JzEquipment">
        update jz_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemId != null ">system_id = #{systemId},</if>
            <if test="spId != null  and spId != ''">sp_id = #{spId},</if>
            <if test="num != null  and num != ''">num = #{num},</if>
            <if test="sbName != null  and sbName != ''">sb_name = #{sbName},</if>
            <if test="sbCode != null  and sbCode != ''">sb_code = #{sbCode},</if>
            <if test="sbModel != null  and sbModel != ''">sb_model = #{sbModel},</if>
            <if test="azAddr != null  and azAddr != ''">az_addr = #{azAddr},</if>
            <if test="supplierId != null ">supplier_id = #{supplierId},</if>
            <if test="azTime != null ">az_time = #{azTime},</if>
            <if test="outTime != null ">out_time = #{outTime},</if>
            <if test="outNum != null  and outNum != ''">out_num = #{outNum},</if>
            <if test="inTime != null ">in_time = #{inTime},</if>
            <if test="jjYsTime != null ">jj_ys_time = #{jjYsTime},</if>
            <if test="syTime != null ">sy_time = #{syTime},</if>
            <if test="azName != null  and azName != ''">az_name = #{azName},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="djTime != null ">dj_time = #{djTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where sb_id = #{sbId}
    </update>

    <delete id="deleteJzEquipmentById" parameterType="Long">
        delete from jz_equipment where sb_id = #{sbId}
    </delete>

    <delete id="deleteJzEquipmentByIds" parameterType="String">
        delete from jz_equipment where sb_id in 
        <foreach item="sbId" collection="array" open="(" separator="," close=")">
            #{sbId}
        </foreach>
    </delete>

    <select id="selectDbzList" resultMap="JzEquipmentResultMap" >
        <include refid="selectJzEquipmentVo"/>


        <where>
            <if test="array !=null" >
                AND  e.system_id  in
                <foreach item="systemIds" collection="array" open="(" separator="," close=")">
                    #{systemIds}
                </foreach>
            </if>

            <if test="num != null  and num != ''"> and e.num = #{num}</if>
            <if test="state != null  and state != ''"> and e.state = #{state}</if>
            <if test="azName != null  and azName != ''"> and e.az_name like concat('%', #{azName}, '%')</if>
            <if test="beginInTime != null "> and e.in_time <![CDATA[ >= ]]> #{beginInTime}</if>
            <if test="endInTime != null "> and e.in_time <![CDATA[ >= ]]> #{endInTime}</if>

            <!--<if test="sbName != null  and sbName != ''"> and e.sb_name like concat('%', #{sbName}, '%')</if>-->
            <!--<if test="sbCode != null  and sbCode != ''"> and e.sb_code = #{sbCode}</if>-->
            <!--<if test="sbModel != null  and sbModel != ''"> and e.sb_model = #{sbModel}</if>-->
            <!--<if test="azAddr != null  and azAddr != ''"> and e.az_addr = #{azAddr}</if>-->
            <!--<if test="supplierId != null "> and e.supplier_id = #{supplierId}</if>-->
            <!--<if test="azTime != null "> and e.az_time = #{azTime}</if>-->
            <!--<if test="beginAzTime != null "> and e.az_time <![CDATA[ >= ]]> #{beginAzTime}</if>-->
            <!--<if test="endAzTime != null "> and e.az_time  <![CDATA[ <= ]]> #{endAzTime}</if>-->
            <!--<if test="outTime != null "> and e.out_time = #{outTime}</if>-->
            <!--<if test="beginOutTime != null "> and e.out_time <![CDATA[ >= ]]> #{beginOutTime}</if>-->
            <!--<if test="endOutTime != null "> and e.out_time <![CDATA[ <= ]]> #{endOutTime}</if>-->
            <!--<if test="outNum != null  and outNum != ''"> and e.out_num = #{outNum}</if>-->
            <!--<if test="inTime != null "> and e.in_time = #{inTime}</if>-->
            <!--<if test="endInTime != null "> and e.in_time <![CDATA[ <= ]]> #{endInTime}</if>-->
            <!--<if test="jjYsTime != null "> and e.jj_ys_time = #{jjYsTime}</if>-->
            <!--<if test="beginJjYsTime != null "> and e.jj_ys_time <![CDATA[ >= ]]> #{beginJjYsTime}</if>-->
            <!--<if test="endJjYsTime != null "> and e.jj_ys_time <![CDATA[ <= ]]> #{endJjYsTime}</if>-->
            <!--<if test="syTime != null "> and e.sy_time = #{syTime}</if>-->
            <!--<if test="beginSyTime != null "> and e.sy_time <![CDATA[ >= ]]> #{beginSyTime}</if>-->
            <!--<if test="endSyTime != null "> and e.sy_time <![CDATA[ <= ]]> #{endSyTime}</if>-->


            <!--<if test="djTime != null "> and e.dj_time = #{djTime}</if>-->
            <!--<if test="beginDjTime != null "> and e.dj_time <![CDATA[ >= ]]> #{beginDjTime}</if>-->
            <!--<if test="endDjTime != null "> and e.dj_time <![CDATA[ <= ]]> #{endDjTime}</if>-->
        </where>
        order by  create_time desc


    </select>
</mapper>