<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sysusersystem.mapper.JzHiddenTroubleMapper">
    
    <resultMap type="JzHiddenTrouble" id="JzHiddenTroubleResult">
        <result property="hiddenTroubleId"    column="hidden_trouble_id"    />
        <result property="typeId"    column="type_id"    />
        <result property="typeName"    column="type_name"    />
        <result property="planId"    column="plan_id"    />
        <result property="systemId"    column="system_id"    />
        <result property="identifyPeople"    column="identify_people"    />
        <result property="rectificationPeople"    column="rectification_people"    />
        <result property="rectificationTime"    column="rectification_time"    />
        <result property="state"    column="state"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="hiddenContent"    column="hidden_content"    />
        <result property="hiddenWz"    column="hidden_wz"    />
        <result property="hiddenJb"    column="hidden_jb"    />
        <result property="updateTime"    column="update_time"    />
        <result property="successTime"    column="success_time"    />
        <result property="jcDept"    column="jc_dept"    />
        <result property="jcJb"    column="jc_jb"    />

        <result property="jcName"    column="jc_name"    />
        <result property="zrDept"    column="zr_dept"    />
        <result property="zgQx"    column="zg_qx"    />
    </resultMap>

    <resultMap type="JzHiddenTroubleVO" id="JzHiddenTroubleResultMap">
        <result property="typeName"    column="name"    />
        <result property="userName"    column="user_name"    />
        <result property="identifyPeople"    column="identify_people"    />
        <result property="rectificationPeople"    column="rectification_people"    />
        <result property="rectificationTime"    column="rectification_time"    />
        <result property="state"    column="state"    />
        <result property="remark"    column="remark"    />
        <result property="hiddenContent"    column="hidden_content"    />
        <result property="hiddenWz"    column="hidden_wz"    />
        <result property="hiddenJb"    column="hidden_jb"    />
        <result property="successTime"    column="success_time"    />
        <result property="jcDept"    column="jc_dept"    />
        <result property="jcJb"    column="jc_jb"    />

        <result property="jcName"    column="jc_name"    />
        <result property="zrDept"    column="zr_dept"    />
        <result property="zgQx"    column="zg_qx"    />
    </resultMap>

    <sql id="selectJzHiddenTroubleVo">
        select hidden_trouble_id, type_id, plan_id, system_id, identify_people, rectification_people,
         rectification_time, state, remark, create_time, hidden_content,
          hidden_wz, hidden_jb, update_time,success_time,jc_dept,jc_jb,jc_name,zr_dept,zg_qx    from jz_hidden_trouble
    </sql>
    <sql id="selectVo">
    SELECT h.hidden_trouble_id,k.dept_name system_name,t.name type_name,h.type_id, h.plan_id, h.system_id, h.identify_people, h.rectification_people, h.rectification_time, h.state, h.remark, h.create_time,
     h.hidden_content, h.hidden_wz, h.hidden_jb, h.update_time,
     h.success_time,h.jc_dept,h.jc_jb,h.jc_name,h.zr_dept,h.zg_qx    from jz_hidden_trouble h
LEFT JOIN sys_dept k ON k.dept_id = h.system_id
LEFT JOIN jz_type t ON t.id = h.type_id
    </sql>
    <select id="selectJzHiddenTroubleList" parameterType="JzHiddenTrouble" resultMap="JzHiddenTroubleResult">
        <include refid="selectVo"/>
        <where>  
            <if test="typeId != null "> and h.type_id = #{typeId}</if>
            <if test="planId != null "> and h.plan_id = #{planId}</if>
            <if test="systemId != null "> and h.system_id = #{systemId}</if>
            <if test="identifyPeople != null  and identifyPeople != ''"> and h.identify_people = #{identifyPeople}</if>
            <if test="rectificationPeople != null  and rectificationPeople != ''"> and h.rectification_people = #{rectificationPeople}</if>
            <if test="rectificationTime != null  and rectificationTime != ''"> and h.rectification_time = #{rectificationTime}</if>
            <if test="state != null  and state != ''"> and h.state = #{state}</if>
            <if test="hiddenContent != null  and hiddenContent != ''"> and h.hidden_content = #{hiddenContent}</if>
            <if test="hiddenWz != null  and hiddenWz != ''"> and h.hidden_wz = #{hiddenWz}</if>
            <if test="hiddenJb != null  and hiddenJb != ''"> and h.hidden_jb = #{hiddenJb}</if>
            <if test="successTime != null "> and h.success_time = #{successTime}</if>
            <if test="jcDept != null and jcDept != ''"> and h.jc_dept = #{jcDept}</if>
            <if test="jcName != null and jcName != ''"> and h.jc_name = #{jcName}</if>
            <if test="zrDept != null and zrDept != ''"> and h.zr_dept = #{zrDept}</if>
            <if test="zgQx != null and zgQx != ''"> and h.zg_qx = #{zgQx}</if>

        </where>
        order by create_time desc
    </select>
    
    <select id="selectJzHiddenTroubleById" parameterType="Long" resultMap="JzHiddenTroubleResult">
        <include refid="selectJzHiddenTroubleVo"/>
        where hidden_trouble_id = #{hiddenTroubleId}
    </select>
        
    <insert id="insertJzHiddenTrouble" parameterType="JzHiddenTrouble" useGeneratedKeys="true" keyProperty="hiddenTroubleId">
        insert into jz_hidden_trouble
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null ">type_id,</if>
            <if test="planId != null ">plan_id,</if>
            <if test="systemId != null ">system_id,</if>
            <if test="identifyPeople != null  and identifyPeople != ''">identify_people,</if>
            <if test="rectificationPeople != null  and rectificationPeople != ''">rectification_people,</if>
            <if test="rectificationTime != null  and rectificationTime != ''">rectification_time,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="hiddenContent != null  and hiddenContent != ''">hidden_content,</if>
            <if test="hiddenWz != null  and hiddenWz != ''">hidden_wz,</if>
            <if test="hiddenJb != null  and hiddenJb != ''">hidden_jb,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="successTime != null ">success_time,</if>
            <if test="jcDept != null and jcDept != ''">  jc_dept ,</if>
            <if test="jcJb != null and jcJb != ''"> jc_jb,</if>

            <if test="jcName != null and jcName != ''"> jc_name,</if>
            <if test="zrDept != null and zrDept != ''">zr_dept,</if>
            <if test="zgQx != null and zgQx != ''">zg_qx,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null ">#{typeId},</if>
            <if test="planId != null ">#{planId},</if>
            <if test="systemId != null ">#{systemId},</if>
            <if test="identifyPeople != null  and identifyPeople != ''">#{identifyPeople},</if>
            <if test="rectificationPeople != null  and rectificationPeople != ''">#{rectificationPeople},</if>
            <if test="rectificationTime != null  and rectificationTime != ''">#{rectificationTime},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="hiddenContent != null  and hiddenContent != ''">#{hiddenContent},</if>
            <if test="hiddenWz != null  and hiddenWz != ''">#{hiddenWz},</if>
            <if test="hiddenJb != null  and hiddenJb != ''">#{hiddenJb},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="successTime != null "> #{successTime},</if>
            <if test="jcDept != null and jcDept != ''">  #{jcDept},</if>
            <if test="jcJb != null and jcJb != ''">  #{jcJb},</if>

            <if test="jcName != null and jcName != ''"> #{jcName},</if>
            <if test="zrDept != null and zrDept != ''"> #{zrDept},</if>
            <if test="zgQx != null and zgQx != ''"> #{zgQx},</if>

        </trim>
    </insert>

    <update id="updateJzHiddenTrouble" parameterType="JzHiddenTrouble">
        update jz_hidden_trouble
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null ">type_id = #{typeId},</if>
            <if test="planId != null ">plan_id = #{planId},</if>
            <if test="systemId != null ">system_id = #{systemId},</if>
            <if test="identifyPeople != null  and identifyPeople != ''">identify_people = #{identifyPeople},</if>
            <if test="rectificationPeople != null  and rectificationPeople != ''">rectification_people = #{rectificationPeople},</if>
            <if test="rectificationTime != null  and rectificationTime != ''">rectification_time = #{rectificationTime},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="hiddenContent != null  and hiddenContent != ''">hidden_content = #{hiddenContent},</if>
            <if test="hiddenWz != null  and hiddenWz != ''">hidden_wz = #{hiddenWz},</if>
            <if test="hiddenJb != null  and hiddenJb != ''">hidden_jb = #{hiddenJb},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="successTime != null ">success_time = #{successTime},</if>
            <if test="jcDept != null and jcDept != ''"> jc_dept = #{jcDept},</if>
            <if test="jcJb != null and jcJb != ''"> jc_jb = #{jcJb},</if>

            <if test="jcName != null and jcName != ''"> jc_name = #{jcName},</if>
            <if test="zrDept != null and zrDept != ''"> zr_dept = #{zrDept},</if>
            <if test="zgQx != null and zgQx != ''">zg_qx = #{zgQx},</if>

        </trim>
        where hidden_trouble_id = #{hiddenTroubleId}
    </update>

    <delete id="deleteJzHiddenTroubleById" parameterType="Long">
        delete from jz_hidden_trouble where hidden_trouble_id = #{hiddenTroubleId}
    </delete>

    <delete id="deleteJzHiddenTroubleByIds" parameterType="String">
        delete from jz_hidden_trouble where hidden_trouble_id in 
        <foreach item="hiddenTroubleId" collection="array" open="(" separator="," close=")">
            #{hiddenTroubleId}
        </foreach>
    </delete>

    <delete id="deleteJzHiddenTroublePByIds" parameterType="String">
        delete from jz_hidden_trouble where plan_id in
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>

</mapper>