<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sysusersystem.mapper.JzInspectionMapper">

    <resultMap type="JzInspection" id="JzInspectionResult">
        <result property="id"    column="id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="systemId"    column="system_id"    />
        <result property="systemName"    column="system_name"    />
        <result property="content"    column="content"    />
        <result property="inspectionProject"    column="inspection_project"    />
        <result property="inspectionAddr"    column="inspection_addr"    />
        <result property="jcPeople"    column="jc_people"    />
        <result property="jcName"    column="jc_name"    />
        <result property="jcDate"    column="jc_date"    />
        <result property="jcStartDate"    column="jc_date"    />
        <result property="jcEndDate"    column="jc_date"    />
        <result property="createId"    column="create_id"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="state"    column="state"    />
        <result property="equipmentState"    column="equipment_state"    />
        <result property="remark"    column="remark"    />
        <result property="jzPlanId"    column="jz_plan_id"    />

    </resultMap>

    <sql id="selectJzInspectionVo">
 select id, equipment_id, system_id,(select user_name from jz_user where user_id = jc_people) jc_name,(select dept_name from sys_dept where dept_id = system_id) system_name, content, inspection_project, inspection_addr, jc_people, jc_date, create_id, create_time, update_id, update_time, equipment_state, state, jz_plan_id, remark from jz_inspection
    </sql>
   <!-- <sql id="selectVo">
        select u.user_name jc_name,d.dept_name system_name,i.id, i.equipment_id, i.system_id,i.content, i.inspection_project, i.inspection_addr, i.jc_people, i.jc_date, i.create_id, i.create_time, i.update_id, i.update_time, i.equipment_state, i.state, i.jz_plan_id, i.remark from jz_inspection i
        LEFT JOIN jz_user u ON u.user_id = i.jc_people
        LEFT JOIN sys_dept d ON d.dept_id = i.system_id
    </sql>-->

    <!--<select id="selectJzInspectionList1" parameterType="JzInspection" resultMap="JzInspectionResult">
        <include refid="selectVo"/>
        <where>
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="systemId != null "> and system_id = #{systemId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>

            <if test="inspectionAddr != null  and inspectionAddr != ''"> and inspection_addr = #{inspectionAddr}</if>


            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>

            <if test="equipmentState != null  and equipmentState != ''"> and equipment_state = #{equipmentState}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="jcDate != null "> and jc_date = #{jcDate}</if>
            <if test="jcPeople != null  and jcPeople != ''"> and jc_people = #{jcPeople}</if>
            <if test="inspectionProject != null  and inspectionProject != ''"> and inspection_project = #{inspectionProject}</if>
            <if test="jzPlanId != null "> and jz_plan_id = #{jzPlanId}</if>
        </where>
        order by create_time desc
    </select>-->

    <select id="selectJzInspectionList" parameterType="JzInspection" resultMap="JzInspectionResult">
        <include refid="selectJzInspectionVo"/>
        <where>
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="systemId != null "> and system_id = #{systemId}</if>
            <if test="content != null  and content != ''">
                and content like concat('%', #{content}, '%')
            </if>

            <if test="inspectionAddr != null  and inspectionAddr != ''"> and inspection_addr = #{inspectionAddr}</if>


            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>

            <if test="equipmentState != null  and equipmentState != ''"> and equipment_state = #{equipmentState}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="jcDate != null "> and jc_date = #{jcDate}</if>
            <if test="jcPeople != null  and jcPeople != ''"> and jc_people = #{jcPeople}</if>
            <if test="inspectionProject != null  and inspectionProject != ''"> and inspection_project = #{inspectionProject}</if>
            <if test="jzPlanId != null "> and jz_plan_id = #{jzPlanId}</if>
        </where>
        order by create_time desc
    </select>
    
        <select id="selectJzInspectionById" parameterType="Long" resultMap="JzInspectionResult">
        <include refid="selectJzInspectionVo"/>
        where id = #{id}
    </select>
    <select id="selectTitle" resultMap="JzInspectionResult">
        select id,content from jz_inspection
    </select>
    <select id="selectSystemName" parameterType="Long" resultType="java.lang.String">
        select dept_name from sys_dept where parent_id = 300 and dept_id = #{systemId}
    </select>
    <insert id="insertJzInspection" parameterType="JzInspection" useGeneratedKeys="true" keyProperty="id">
        insert into jz_inspection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null ">equipment_id,</if>
            <if test="systemId != null ">system_id,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="inspectionProject != null  and inspectionProject != ''">inspection_project,</if>
            <if test="inspectionAddr != null  and inspectionAddr != ''">inspection_addr,</if>
            <if test="jcPeople != null  and jcPeople != ''">jc_people,</if>
            <if test="jcDate != null ">jc_date,</if>
            <if test="createId != null ">create_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateId != null ">update_id,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="jzPlanId != null  ">jz_plan_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null ">#{equipmentId},</if>
            <if test="systemId != null ">#{systemId},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="inspectionProject != null  and inspectionProject != ''">#{inspectionProject},</if>
            <if test="inspectionAddr != null  and inspectionAddr != ''">#{inspectionAddr},</if>
            <if test="jcPeople != null  and jcPeople != ''">#{jcPeople},</if>
            <if test="jcDate != null ">#{jcDate},</if>
            <if test="createId != null ">#{createId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateId != null ">#{updateId},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="jzPlanId != null  ">#{jzPlanId},</if>
         </trim>
    </insert>

    <update id="updateJzInspection" parameterType="JzInspection">
        update jz_inspection
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null ">equipment_id = #{equipmentId},</if>
            <if test="systemId != null ">system_id = #{systemId},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="inspectionProject != null  and inspectionProject != ''">inspection_project = #{inspectionProject},</if>
            <if test="inspectionAddr != null  and inspectionAddr != ''">inspection_addr = #{inspectionAddr},</if>
            <if test="jcPeople != null  and jcPeople != ''">jc_people = #{jcPeople},</if>
            <if test="jcDate != null ">jc_date = #{jcDate},</if>
            <if test="createId != null ">create_id = #{createId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateId != null ">update_id = #{updateId},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="jzPlanId != null  ">jz_plan_id=#{jzPlanId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJzInspectionById" parameterType="Long">
        delete from jz_inspection where id = #{id}
    </delete>

    <delete id="deleteJzInspectionByIds" parameterType="String">
        delete from jz_inspection where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectDbInspectionList" resultMap="JzInspectionResult">
<!--            resultType="com.ruoyi.sysusersystem.domain.JzInspection">-->
        SELECT
        i.id,
        i.equipment_id,
        i.system_id,
        u.user_name jc_Name,
        d.dept_name system_name,
        i.content,
        i.inspection_project,
        i.inspection_addr,
        i.jc_people,
        i.jc_date,
        i.create_id,
        i.create_time,
        i.update_id,
        i.update_time,
        i.equipment_state,
        i.state,
        i.jz_plan_id,
        i.remark
        FROM
        jz_inspection i
        LEFT JOIN sys_dept d on d.dept_id = i.system_id
        LEFT JOIN  jz_user u on u.user_id = i.jc_people
        where 1=1




--         jz_user.system_id = sys_dept.dept_id
--         AND jz_user_type.id =jz_user.user_type
        <if test="array !=null" >
            AND  i.system_id  in
            <foreach item="systemIds" collection="array" open="(" separator="," close=")">
                #{systemIds}
            </foreach>
        </if>
        <if test="equipmentState != null  and equipmentState != ''"> and i.equipment_state = #{equipmentState} </if>
        <if test="state != null  and state != ''"> and i.state = #{state}</if>
        <if test="jcStartDate != null "> and  <![CDATA[i.jc_date >= #{jcStartDate} ]]></if>
        <if test="jcEndDate != null "> and <![CDATA[i.jc_date <= #{jcEndDate} ]]> </if>

        <if test="jcPeople != null  and jcPeople != ''"> and i.jc_people = #{jcPeople}</if>
        <if test="inspectionProject != null  and inspectionProject != ''"> and i.inspection_project like concat('%', #{inspectionProject}, '%')</if>
        <if test="content != null  and content != ''"> and i.content = #{content}</if>

        order by i.create_time desc
    </select>
    <delete id="deleteJzInspectionByPlanIds" parameterType="String" >
        delete from jz_inspection where jz_plan_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>