<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sysusersystem.mapper.JzPlanMapper">
    
    <resultMap type="JzPlan" id="JzPlanResult">
        <result property="planId"    column="plan_id"    />
        <result property="title"    column="title"    />
        <result property="time"    column="time"    />
        <result property="longTime"    column="long_time"    />
        <result property="systemId"    column="system_id"    />
        <result property="systemName"    column="system_name"    />
        <result property="teamId"    column="team_id"    />
        <result property="state"    column="state"    />
        <result property="stateName"    column="state_name"    />
        <result property="zbType"    column="zb_type"    />
        <result property="zbTypeName"    column="zb_type_name"    />
        <result property="planType"    column="plan_type"    />
        <result property="planTypeName"    column="plan_type_name"    />
        <result property="createId"    column="create_id"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="content"    column="content"    />
        <result property="successTime"    column="success_time"    />

    </resultMap>
    <sql id="sqlVo" >
            select plan_id,title,time,long_time,system_id,team_id,state,zb_type,plan_type,create_id,create_time,update_id,update_time,remark,content,success_time  FROM  jz_plan
    </sql>
    <sql id="selectVO">

    </sql>
    <sql id="sqlVo1" >
            select plan_id,title,time,long_time,system_id,team_id,state,zb_type,plan_type,create_id,create_time,update_id,update_time,remark,content, DATE_FORMAT(success_time,'%Y-%m-%d')  as  success_time    FROM  jz_plan
    </sql>

    <select id="selectJzPlanList" parameterType="JzPlan" resultMap="JzPlanResult">
        select plan_id,title,time,long_time,system_id,team_id,state,zb_type,plan_type,create_id,create_time,update_id,update_time,remark,content, DATE_FORMAT(success_time,'%Y-%m-%d') as  success_time    FROM  jz_plan
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="longTime != null  and longTime != ''"> and long_time = #{longTime}</if>
            <if test="systemId != null "> and system_id = #{systemId}</if>
            <if test="teamId != null "> and team_id = #{teamId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="zbType != null  and zbType != ''"> and zb_type = #{zbType}</if>
            <if test="planType != null  and planType != ''"> and plan_type = #{planType}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="successTime != null "> and success_time = #{successTime}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectJzPlanById" parameterType="Long" resultMap="JzPlanResult">
        <include refid="sqlVo"/>
        where plan_id = #{planId}
    </select>
    <select id="selectTitle" resultMap="JzPlanResult">
        select plan_id,title from jz_plan
    </select>
    <insert id="insertJzPlan" parameterType="JzPlan" useGeneratedKeys="true" keyProperty="planId">
        insert into jz_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="time != null ">time,</if>
            <if test="longTime != null  and longTime != ''">long_time,</if>
            <if test="systemId != null ">system_id,</if>
            <if test="teamId != null ">team_id,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="zbType != null  and zbType != ''">zb_type,</if>
            <if test="planType != null  and planType != ''">plan_type,</if>
            <if test="createId != null ">create_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateId != null ">update_id,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="successTime != null "> success_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="time != null ">#{time},</if>
            <if test="longTime != null  and longTime != ''">#{longTime},</if>
            <if test="systemId != null ">#{systemId},</if>
            <if test="teamId != null ">#{teamId},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="zbType != null  and zbType != ''">#{zbType},</if>
            <if test="planType != null  and planType != ''">#{planType},</if>
            <if test="createId != null ">#{createId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateId != null ">#{updateId},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="successTime != null ">  #{successTime},</if>

        </trim>
    </insert>

    <update id="updateJzPlan" parameterType="JzPlan">
        update jz_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="time != null ">time = #{time},</if>
            <if test="longTime != null  and longTime != ''">long_time = #{longTime},</if>
            <if test="systemId != null ">system_id = #{systemId},</if>
            <if test="teamId != null ">team_id = #{teamId},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="zbType != null  and zbType != ''">zb_type = #{zbType},</if>
            <if test="planType != null  and planType != ''">plan_type = #{planType},</if>
            <if test="createId != null ">create_id = #{createId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateId != null ">update_id = #{updateId},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="successTime != null ">  success_time = #{successTime},</if>
        </trim>
        where plan_id = #{planId}
    </update>

    <delete id="deleteJzPlanById" parameterType="Long">
        delete from jz_plan where plan_id = #{planId}
    </delete>

    <delete id="deleteJzPlanByIds" parameterType="String">
        delete from jz_plan where plan_id in 
        <foreach item="planId" collection="array" open="(" separator="," close=")">
            #{planId}
        </foreach>
    </delete>
    
    <select id="riZhiBanList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 0 AND long_time = 0
    </select>
    <select id="riXunJianList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 1 AND long_time = 0
    </select>
    <select id="riYinHuanList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 2 AND long_time = 0
    </select>
    <select id="zhouZhiBanList" resultMap="JzPlanResult">
     SELECT * FROM jz_plan WHERE plan_type = 0 AND long_time = 1
    </select>
    <select id="zhouXunJianList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 1 AND long_time = 1
    </select>
    <select id="zhouYinHuanList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 2 AND long_time = 1
    </select>
    <select id="yueZhiBanList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 0 AND long_time = 2
    </select>
    <select id="yueXunJianList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 1 AND long_time = 2
    </select>
    <select id="yueYinHuanList" resultMap="JzPlanResult">
    SELECT * FROM jz_plan WHERE plan_type = 2 AND long_time = 2
    </select>

    <resultMap type="YHTZVo" id="YHTZMap">
        <result property="planId"    column="plan_id"    />
        <result property="title"    column="title"    />
        <result property="longTime"    column="long_time"    />
        <result property="deptName"    column="dept_name"    />
        <result property="teamId"    column="team_id"    />
        <result property="content"    column="content"    />
        <result property="typeName"    column="name"    />
        <result property="rectificationPeople"    column="rectification_people"    />
        <result property="rectificationTime"    column="rectification_time"    />
        <result property="hiddenContent"    column="hidden_content"    />
        <result property="hiddenWz"    column="hidden_wz"    />
        <result property="state"    column="state"    />
        <result property="hiddenJb"    column="hidden_jb"    />
        <result property="jcDept"    column="jc_dept"    />
        <result property="jcJb"    column="jc_jb"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    <select id="selectYHTZList" parameterType="YHTZVo" resultMap="YHTZMap" >
        select
        jz_plan.plan_id,
        jz_plan.title,
        jz_plan.long_time,
        sys_dept.dept_name,
        jz_plan.team_id,
        jz_plan.content,
        jz_type.name,
        jz_hidden_trouble.rectification_people,
        jz_hidden_trouble.rectification_time,
        jz_hidden_trouble.hidden_content,
        jz_hidden_trouble.hidden_wz,
        jz_hidden_trouble.state,
        jz_hidden_trouble.hidden_jb,
        jz_hidden_trouble.jc_dept,
        jz_hidden_trouble.jc_jb,
        jz_hidden_trouble.remark
        from jz_plan,jz_hidden_trouble ,sys_dept,jz_type
        where jz_plan.plan_id = jz_hidden_trouble.plan_id
        and jz_plan.system_id = sys_dept.dept_id
        and jz_hidden_trouble.type_id = jz_type.id
        and jz_plan.plan_type=2
    </select>

</mapper>