<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.suppliercontract.mapper.JzSupplierMapper">
    
    <resultMap type="JzSupplier" id="JzSupplierResult">
        <result property="supplierId"    column="supplier_id"    />
        <result property="systemId"    column="system_id"    />
        <result property="phone"    column="phone"    />
        <result property="supplierEmail"    column="supplier_email"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="supplierAddr"    column="supplier_addr"    />
        <result property="supplierCz"    column="supplier_cz"    />
        <result property="createId"    column="create_id"    />
        <result property="userName"    column="user_name"    />
        <result property="systemName"    column="system_name"    />
        <result property="updateName"    column="update_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectJzSupplierVo">
--         select supplier_id, system_id, phone, supplier_email, supplier_name, supplier_addr, supplier_cz,(SELECT user_name FROM sys_user WHERE user_id = create_id) create_id, create_time,(SELECT user_name FROM sys_user WHERE user_id = update_id) update_id, update_time, remark, state from jz_supplier
        SELECT s.supplier_id,s.system_id,(select dept_name from sys_dept where dept_id = s.system_id) system_name, s.phone, s.supplier_email, s.supplier_name, s.supplier_addr, s.supplier_cz,(SELECT user_name FROM sys_user WHERE user_id = s.create_id) user_name, s.create_time,(SELECT user_name FROM sys_user WHERE user_id = s.update_id) update_name, s.update_time, s.remark, s.state FROM jz_supplier s
    </sql>

    <select id="selectJzSupplierList" parameterType="JzSupplier" resultMap="JzSupplierResult">
        <include refid="selectJzSupplierVo"/>
        <where>  
            <if test="systemId != null "> and system_id = #{systemId}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="supplierEmail != null  and supplierEmail != ''"> and supplier_email = #{supplierEmail}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="supplierAddr != null  and supplierAddr != ''"> and supplier_addr = #{supplierAddr}</if>
            <if test="supplierCz != null  and supplierCz != ''"> and supplier_cz = #{supplierCz}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectJzSupplierById" parameterType="Long" resultMap="JzSupplierResult">
        <include refid="selectJzSupplierVo"/>
        where supplier_id = #{supplierId}
    </select>
    <select id="supList" parameterType="JzSupplier" resultMap="JzSupplierResult">
       select * from jz_supplier
    </select>
    <insert id="insertJzSupplier" parameterType="JzSupplier" useGeneratedKeys="true" keyProperty="supplierId">
        insert into jz_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemId != null ">system_id,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="supplierEmail != null  and supplierEmail != ''">supplier_email,</if>
            <if test="supplierName != null  and supplierName != ''">supplier_name,</if>
            <if test="supplierAddr != null  and supplierAddr != ''">supplier_addr,</if>
            <if test="supplierCz != null  and supplierCz != ''">supplier_cz,</if>
            <if test="createId != null ">create_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateId != null ">update_id,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="state != null  and state != ''">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemId != null ">#{systemId},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="supplierEmail != null  and supplierEmail != ''">#{supplierEmail},</if>
            <if test="supplierName != null  and supplierName != ''">#{supplierName},</if>
            <if test="supplierAddr != null  and supplierAddr != ''">#{supplierAddr},</if>
            <if test="supplierCz != null  and supplierCz != ''">#{supplierCz},</if>
            <if test="createId != null ">#{createId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateId != null ">#{updateId},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="state != null  and state != ''">#{state},</if>
         </trim>
    </insert>

    <update id="updateJzSupplier" parameterType="JzSupplier">
        update jz_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemId != null ">system_id = #{systemId},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="supplierEmail != null  and supplierEmail != ''">supplier_email = #{supplierEmail},</if>
            <if test="supplierName != null  and supplierName != ''">supplier_name = #{supplierName},</if>
            <if test="supplierAddr != null  and supplierAddr != ''">supplier_addr = #{supplierAddr},</if>
            <if test="supplierCz != null  and supplierCz != ''">supplier_cz = #{supplierCz},</if>
            <if test="createId != null ">create_id = #{createId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateId != null ">update_id = #{updateId},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
        </trim>
        where supplier_id = #{supplierId}
    </update>

    <delete id="deleteJzSupplierById" parameterType="Long">
        delete from jz_supplier where supplier_id = #{supplierId}
    </delete>

    <delete id="deleteJzSupplierByIds" parameterType="String">
        delete from jz_supplier where supplier_id in 
        <foreach item="supplierId" collection="array" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </delete>
    
</mapper>