<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.systemmanagement.mapper.JzSystemManagementMapper">
    
    <resultMap type="JzSystemManagement" id="JzSystemManagementResult">
        <result property="managementId"    column="management_id"    />
        <result property="systemId"    column="system_id"    />
        <result property="teamId"    column="team_id"    />
        <result property="updateId"    column="update_id"    />
        <result property="createId"    column="create_id"    />
        <result property="title"    column="title"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="systemName"    column="system_name"    />
        <result property="updateName"    column="update_name"    />
        <result property="createName"    column="user_name"    />
        <result property="teamName"    column="team_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="level"    column="level"    />
        <result property="type"    column="type"    />
        <result property="levelName"    column="level_name"    />
        <result property="typeName"    column="type_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    <sql id="selectJzSystemManagementVo">
SELECT s.management_id,s.team_id,s.title,s.file_url,(select dict_label from sys_dict_data where dict_code=s.team_id) team_name,(select dept_name from sys_dept where dept_id = s.system_id) system_name,(SELECT user_name FROM sys_user WHERE user_id = s.create_id) user_name, s.create_time,(SELECT user_name FROM sys_user WHERE user_id = s.update_id) update_name, s.update_time,s.level,s.type, s.remark, s.state FROM jz_system_management s</sql>
    <sql id="selectVo">
SELECT sdd.dict_label level_name,sddd.dict_label type_name,s.management_id,s.team_id,s.system_id,s.title,s.file_url,sd.dict_label team_name,d.dept_name system_name,su.user_name user_name,su.user_name update_name,s.create_id,s.update_id,s.create_time, s.update_time,s.level,s.type,s.remark, s.state FROM jz_system_management s
LEFT JOIN sys_dict_data sd ON sd.dict_code = s.team_id
LEFT JOIN sys_dept d ON d.dept_id = s.system_id
LEFT JOIN sys_user su ON su.user_id= s.create_id
LEFT JOIN sys_dict_data sdd ON sdd.dict_value = s.`level` and  sdd.dict_type='jz_systemmanagement_level'
LEFT JOIN sys_dict_data sddd ON sddd.dict_value = s.type and  sddd.dict_type='jz_systemmanagement_type'
</sql>
    <select id="selectJzSystemManagementFileUrl" parameterType="String" resultType="Long">
    select management_id from jz_system_management where file_url=#{msg}
    </select>
    <select id="selectJzSystemManagementList" parameterType="JzSystemManagement" resultMap="JzSystemManagementResult">
        <include refid="selectVo"/>
        <where>  
            <if test="systemId != null and systemId !='' "> and s.system_id = #{systemId}</if>
            <if test="teamId != null and teamId !='' "> and s.team_id = #{teamId}</if>
            <if test="title != null  and title != ''"> and s.title like concat('%', #{title}, '%')</if>
<!--            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>-->
            <if test="state != null  and state != ''"> and s.state = #{state}</if>
            <if test="level != null and level !=''">and s.level=#{level}</if>
            <if test="type != null and type !=''">and s.type=#{type}</if>
        </where>
    </select>
    
    <select id="selectJzSystemManagementById" parameterType="Long" resultMap="JzSystemManagementResult">
        <include refid="selectVo"/>
        where management_id = #{managementId}
    </select>
    <select id="selectFileUrlManagementById" parameterType="Long" resultType="java.lang.String">
        select file_url from jz_system_management where management_id =#{managementId}
    </select>
    <select id="selectDbzList" parameterType="JzSystemManagement" resultMap="JzSystemManagementResult">
        <include refid="selectVo"/>
        <where>
            <if test="array !=null" >
                AND  s.system_id  in
                <foreach item="systemIds" collection="array" open="(" separator="," close=")">
                    #{systemIds}
                </foreach>
            </if>
            <if test="typeId != null"> and s.type_id = #{typeId}</if>
            <if test="state != null  and state != ''"> and s.state = #{state}</if>
            <if test="managementId != null"> and s.management_id = #{managementId}</if>
        </where>
        order by  create_time desc
    </select>
    <insert id="insertJzSystemManagement" parameterType="JzSystemManagement" useGeneratedKeys="true" keyProperty="managementId">
        insert into jz_system_management
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemId != null ">system_id,</if>
            <if test="teamId != null ">team_id,</if>
            <if test="updateId != null ">update_id,</if>
            <if test="createId != null ">create_id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="fileUrl != null  and fileUrl != ''">file_url,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="level != null  and level != ''">level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemId != null ">#{systemId},</if>
            <if test="teamId != null ">#{teamId},</if>
            <if test="updateId != null ">#{updateId},</if>
            <if test="createId != null ">#{createId},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="fileUrl != null  and fileUrl != ''">#{fileUrl},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="level != null  and level != ''">#{level},</if>
         </trim>
    </insert>

    <update id="updateJzSystemManagement" parameterType="JzSystemManagement">
        update jz_system_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemId != null ">system_id = #{systemId},</if>
            <if test="teamId != null ">team_id = #{teamId},</if>
            <if test="updateId != null ">update_id = #{updateId},</if>
            <if test="createId != null ">create_id = #{createId},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="fileUrl != null  and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="level != null  and level != ''">level = #{level},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
        </trim>
        where management_id = #{managementId}
    </update>
    <delete id="deleteJzSystemManagementById" parameterType="Long">
        delete from jz_system_management where management_id = #{managementId}
    </delete>

    <delete id="deleteJzSystemManagementByIds" parameterType="String">
        delete from jz_system_management where management_id in 
        <foreach item="managementId" collection="array" open="(" separator="," close=")">
            #{managementId}
        </foreach>
    </delete>
    
</mapper>