<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sysusersystem.mapper.YhZgMapper">
    
    <resultMap type="YhZg" id="YhZgResult">
        <result property="id"    column="id"    />
        <result property="yhId"    column="yh_id"    />
        <result property="zgTime"    column="zg_time"    />
        <result property="zgName"    column="zg_name"    />
        <result property="zgCs"    column="zg_cs"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="YhZgYsVo" id="YhZgResultVo">
        <result property="id"    column="id"    />
        <result property="yhId"    column="yh_id"    />
        <result property="zgTime"    column="zg_time"    />
        <result property="zgName"    column="zg_name"    />
        <result property="zgCs"    column="zg_cs"    />
        <result property="yId"    column="y_id"    />
        <result property="yhZgId"    column="yh_zg_id"    />
        <result property="yName"    column="y_name"    />
        <result property="yTime"    column="y_time"    />
        <result property="describes"    column="describes"    />
        <result property="tzSx"    column="tz_sx"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectYhZgVo">
        select id, yh_id, zg_time, zg_name, zg_cs, remark, create_time, update_time from yh_zg
    </sql>

    <select id="selectYhZgList" parameterType="YhZg" resultMap="YhZgResult">
        <include refid="selectYhZgVo"/>
        <where>  
            <if test="yhId != null "> and yh_id = #{yhId}</if>
            <if test="zgTime != null  and zgTime != ''"> and zg_time = #{zgTime}</if>
            <if test="zgName != null  and zgName != ''"> and zg_name like concat('%', #{zgName}, '%')</if>
            <if test="zgCs != null  and zgCs != ''"> and zg_cs = #{zgCs}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(zg_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(zg_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectYhZgById" parameterType="Long" resultMap="YhZgResult">
        <include refid="selectYhZgVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertYhZg" parameterType="YhZg" useGeneratedKeys="true" keyProperty="id">
        insert into yh_zg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="yhId != null ">yh_id,</if>
            <if test="zgTime != null  and zgTime != ''">zg_time,</if>
            <if test="zgName != null  and zgName != ''">zg_name,</if>
            <if test="zgCs != null  and zgCs != ''">zg_cs,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="yhId != null ">#{yhId},</if>
            <if test="zgTime != null  and zgTime != ''">#{zgTime},</if>
            <if test="zgName != null  and zgName != ''">#{zgName},</if>
            <if test="zgCs != null  and zgCs != ''">#{zgCs},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateYhZg" parameterType="YhZg">
        update yh_zg
        <trim prefix="SET" suffixOverrides=",">
            <if test="yhId != null ">yh_id = #{yhId},</if>
            <if test="zgTime != null  and zgTime != ''">zg_time = #{zgTime},</if>
            <if test="zgName != null  and zgName != ''">zg_name = #{zgName},</if>
            <if test="zgCs != null  and zgCs != ''">zg_cs = #{zgCs},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYhZgById" parameterType="Long">
        delete from yh_zg where id = #{id}
    </delete>

    <delete id="deleteYhZgByIds" parameterType="String">
        delete from yh_zg where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectYhZgYsList" parameterType="YhZgYsVo" resultMap="YhZgResultVo">
        SELECT
            yh_zg.id,
            yh_zg.yh_id,
            yh_zg.zg_time,
            yh_zg.zg_name,
            yh_zg.zg_cs,
            yh_zg.remark,
            yh_zg.create_time,
            yh_zg.update_time ,
            yh_ys_jl.y_id,
            yh_ys_jl.yh_zg_id,
            yh_ys_jl.y_name,
            yh_ys_jl.y_time,
            yh_ys_jl.describes,
            yh_ys_jl.tz_sx,
            yh_ys_jl.state
        FROM
            yh_zg
            LEFT JOIN yh_ys_jl ON yh_zg.id = yh_ys_jl.yh_zg_id
            <where>
                <if test="yhId !=null">
                    and yh_zg.yh_id =#{yhId}
                </if>
            </where>
            order by yh_zg.create_time desc
    </select>

    <select id="selectByYhZgId" resultMap="YhZgResult">
        <include refid="selectYhZgVo"/>
        where id = #{id}
    </select>
</mapper>