<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增风险')" />
    <link href="/layui/css/layui.css" rel="stylesheet"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-risk-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">风险点：</label>
                <div class="col-sm-8">
                    <input name="fengXiandian" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">系统名称：</label>
                <div class="col-sm-8">
<!--                    <input name="systemId" class="form-control" type="text">-->
                        <select id="systemId" class="form-control" name="systemId" th:with="type=${@dict.getSystem(300)}" required>
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}" ></option>
                        </select>
                </div>
            </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">风险类型：</label>
                        <div class="col-sm-8">
                            <select id="typeId" class="form-control" name="typeId" th:with="type=${@dict.listType(0)}" required>
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}" ></option>
                            </select>
                        </div>
                </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">文件上传</label>
                <input id="lzqkUrl" name="fileUrl" class="form-control" type="hidden">
                <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
                <div type="button" class="layui-btn" id="test4" onclick="addSystem()">预览</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">风险活动及内容：</label>
                <div class="col-sm-8">
                    <input name="huodongNeirong" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">潜在风险及可能发生的事故：</label>
                <div class="col-sm-8">
                    <input name="weixianShigu" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">责任部门：</label>
                <div class="col-sm-8">
                    <input name="zrDept" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">责任人：</label>
                <div class="col-sm-8">
                    <input name="zrName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="title" class="form-control" type="text"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script src="/layui/layui.js"></script>
    <script type="text/javascript">
        var prefix = ctx + "sysusersystem/risk"
        $("#form-risk-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-risk-add').serialize());
            }
        }

        /** 上传文件    */
        layui.use('upload', function(){
            var $ = layui.jquery
                ,upload = layui.upload;

            //指定允许上传的文件类型
            upload.render({
                elem: '#test3'
                ,url: ctx+'common1/upload/'
                ,accept: 'file' //普通文件
                ,exts: 'doc|docx|zip|pdf'
                ,done: function(res){
                    if(res.code>0){
                        return layer.msg('上传失败');
                    }
                    $("#lzqkUrl").val(res.msg);
                    // console.log(res.msg)
                    layer.msg("上传成功");
                }
            });
        });
        // 预览制度
        function addSystem() {
            var length = $("#lzqkUrl").val().length;
            var url = prefix +"/addWordToPdf/"+$("#lzqkUrl").val().substring(27,length);
            //var url = prefix +"/addWordToPdf/"+$("#lzqkUrl").val().substring(().lastIndexOf('/')+1);
            $.modal.open("上传制度",url);
        }

            function ex() {
                var aa = $("#systemId").val();
                // alert(length);
                $("#type").val(aa)
                console.log($("#type").val());
                var url = prefix+"/test/"+$("#systemId").val();
                $.modal.open("上传制度",url);
            }

    </script>
</body>
</html>