<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('风险列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>风险点：</p>
                                <input type="text" name="fengXiandian"/>
                            </li>
<!--                            <li>-->
<!--                                <p>风险等级：</p>-->
<!--&lt;!&ndash;                                <input type="text" name="riskLevel"/>&ndash;&gt;-->
<!--                                <select id="riskLevel" class="form-control" name="riskLevel" th:with="type=${@dict.getType('risk_level')}">-->
<!--                                    <option value="">所有</option>-->
<!--                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictCode}"></option>-->
<!--                                </select>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="sysusersystem:risk:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="sysusersystem:risk:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="sysusersystem:risk:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="sysusersystem:risk:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('sysusersystem:risk:edit')}]];
        var removeFlag = [[${@permission.hasPermi('sysusersystem:risk:remove')}]];
        var searchFlag = [[${@permission.hasPermi('sysusersystem:risk:search')}]];
        var prefix = ctx + "sysusersystem/risk";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "风险",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'riskId', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'fengXiandian',
                    title : '风险点'
                },
                {
                    field : 'fileUrl',
                    title : '文件地址',
                    visible: false
                },
                {
                     field : 'typeName',
                     title : '风险名称'
                },
                // {
                //     field : 'levelName',
                //     title : '风险等级'
                // },

                // {
                //     field : 'fengXiandian',
                //     title : '风险点'
                // },
                {
                    field : 'huodongNeirong',
                    title : '风险活动及内容'
                },
                {
                    field : 'weixianShigu',
                    title : '潜在风险及可能发生的事故'
                },
                {
                    field : 'title',
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.riskId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.riskId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + searchFlag + '"  onclick="yunlan(\'' + row.managementId + '\'+\'' + '|' + '\'+\'' + row.fileUrl + '\')"><i class="fa fa-remove"></i>预览</a>');
                        actions.push('<a class="btn btn-primary btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.riskId + '\')"><i class="fa fa-list"></i>风险评估</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function yunlan(param) {
            var arr = param.split('|');
            var riskId =arr[0];
            // var fileUrl = arr[1];
            if(arr[1].length == 4){
                layer.alert("文件未上传，请先上传在预览！！！");
                return ;
            }
            var url = prefix +"/editWordToPdf/"+riskId;
            console.log(url)
            $.modal.open("上传制度",url);
        }
        function detail(riskId) {
            var url = prefix + '/detail/' + riskId;
            $.modal.openTab("风险评估", url);
        }
    </script>
</body>
</html>