<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增合同')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-contract-add">
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">系统id：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="systemId" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">所属系统：</label>
                <!--                <input id="treeId" name="parentId" type="hidden" th:value="${dept.deptId}"   />-->
<!--                <input id="treeId" name="parentId" type="hidden" th:value="${dept.deptId}"   />-->
<!--                <div class="col-sm-8">-->
<!--                    <div class="input-group">-->
<!--                        <input class="form-control" type="text" onclick="selectDeptTree()" id="treeName" readonly="true" th:value="${dept.deptName}">-->
<!--                        <span class="input-group-addon"><i class="fa fa-search"></i></span>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-sm-8">
                <select class="form-control" name="systemId" th:with="type=${@dict.DeptList()}">
                    <option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId} "></option>
                </select>
            </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">合同标题：</label>
                <div class="col-sm-8">
                    <input name="titile" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">供应商：</label>
                <div class="col-sm-8">
                <select class="form-control" name="supplierId" th:with="type=${@dict.supList()}">
<!--                    <option value="">所有</option>-->
                    <option th:each="dict : ${type}" th:text="${dict.supplierName}" th:value="${dict.supplierId}"></option>
                </select>
                </div>
<!--                <div class="col-sm-8">-->
<!--                    <input name="supplierName" class="form-control" type="text">-->
<!--                </div>-->
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上传文件地址：</label>
                <div class="col-sm-8">
                    <!--                    <input name="fileUrl" class="form-control" type="text">-->
                    <textarea name="fileUrl" id="editor"  class="form-control" type="text" style="border-style:none;height:500px;width:100%"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <script th:src="@{/ajax/libs/ueditor1_4_3_3-utf8-jsp/ueditor.config.js}"></script>
    <script th:src="@{/ajax/libs/ueditor1_4_3_3-utf8-jsp/ueditor.all.js}"></script>
    <script type="text/javascript">

        var editor =UE.getEditor('editor',{
            //是否保持toolbar位置不懂，默认为true
            elementPathEnabled: false,
            toolbars: [
                ['simpleupload', 'insertimage']
            ]


        });
        var prefix = ctx + "suppliercontract/contract"
        $("#form-contract-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-contract-add').serialize());
            }
        }
        /*用户管理-新增-选择部门树*/
        //function selectDeptTree() {
           // var treeId = $("#treeId").val();
           // var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        //     var url = prefix + "/selectDeptTree/"  + $("#treeId").val();
        //     var options = {
        //         title: '选择部门',
        //         width: "380",
        //         url: url,
        //         callBack: doSubmit
        //     };
        //     $.modal.openOptions(options);
        // }
        //
        // function doSubmit(index, layero){
        //     var body = layer.getChildFrame('body', index);
        //     $("#treeId").val(body.find('#treeId').val());
        //     $("#treeName").val(body.find('#treeName').val());
        //     layer.close(index);
        // }
        //     function supName() {
        //     var projects = [];
        //     $.ajax({
        //         type: "get",
        //         async: false, //异步执行
        //         url: "/ZdPerson/PersonLiable/GetPersonLiableListJson",
        //         dataType: "json", //返回数据形式为json
        //         success: function (supList) {
        //             for (var i = 0; i < supList.length; i++) {
        //                 projects.push(supList[i]);
        //             }
        //         }
        //     });
        //
        //     $(".supList").autocomplete({
        //         minLength: 0,
        //         source: projects,
        //         focus: function (event, ui) {
        //             $(this).val(ui.item.label);
        //             return false;
        //         },
        //         select: function (event, ui) {
        //             $(this).val(ui.item.label);
        //             var index = $(this).attr("id").substr(6, 1);
        //             $("#PLPhone" + index).val(ui.item.value);
        //             return false;
        //         }
        //     });
        //
        //     $(".supList").focus(function () {
        //         $(this).data("ui-autocomplete")._renderItem = function (ul, item) {
        //             return $("<li class='clearfix'>")
        //                 .append("<a style=\"float:left\">" + item.label + "</a>")
        //                 .append("<a style=\"float:right;\">" + item.value + "</a>")
        //                 .appendTo(ul);
        //         };
        //     })
        // };
    </script>
</body>
</html>