<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('合同列表')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content" style="height:100%;">
    <form class="form-horizontal m" id="form-contract-edit" th:object="${jzContract}" style="height:100%;">

<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">上传文件地址：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <input name="fileUrl" th:field="*{fileUrl}" class="form-control" type="text">-->
                <textarea id="editorInfo" name="fileUrl" th:field='*{fileUrl}' class="form-control" type="text" style="border-style:none;height:100%;width:100%"></textarea>
<!--            </div>-->
<!--        </div>-->
    </form>
</div>
<th:block th:include="include :: footer" />
<script th:src="@{/ajax/libs/ueditor1_4_3_3-utf8-jsp/ueditor.config.js}"></script>
<script th:src="@{/ajax/libs/ueditor1_4_3_3-utf8-jsp/ueditor.all.js}"></script>
<script type="text/javascript">
    // var editor=UE.getEditor('editor', {
    //     elementPathEnabled: false,
    //     toolbars: [ ]
    // });
    var editor=UE.getEditor('editorInfo', {
        elementPathEnabled: false,
        toolbars: [ ]
    }).getContent();

</script>
</body>
</html>