<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('报修列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>报维内容：</p>
                                <input type="text" name="content" autocomplete="off"/>
                            </li>

                            <li>
                                <p>状态:</p>
                                <select name="state" th:with="type=${@dict.getType('wx_state')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
<!--                                <p>状态:：-->

<!--                                </p>-->
                                <!--<p>报修人：</p>-->
                                <!--<input type="text" name="equipmentName"/>-->
                                <p>维修人：</p>
                                <input type="text" name="maintenancePeopleName" autocomplete="off" />
                            </li>
                            <li>
                                <p>维修组：</p>
                                <select name="item" th:with="type=${@dict.getType('ban_zu')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>审核状态：</p>
                                <select name="state" th:with="type=${@dict.getType('wx_sh_state')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>维修时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="warranty:warranty:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="warranty:warranty:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="warranty:warranty:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="warranty:warranty:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('warranty:warranty:edit')}]];
        var removeFlag = [[${@permission.hasPermi('warranty:warranty:remove')}]];
        var datas = [[${@dict.getType('wx_state')}]];
        var wxShState = [[${@dict.getType('wx_sh_state')}]];
        var datas = [[${@dict.getType('wx_state')}]];
        var shdatas =  [[${@dict.getType('wx_sh_state')}]];
        var prefix = ctx + "warranty/warranty";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "报修",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'warrantyId', 
                    title : '主键',
                    visible: false
                },
                    {
                        field : 'bxOrder',
                        title : '报修单号'
                    },
                    {
                        field : 'bxPhone',
                        title : '报修人电话'
                    },
                    {
                        field : 'deptName',
                        title : '报修人部门'
                    },
                    {
                        field : 'content',
                        title : '保修内容'
                    },
                {
                    field : 'systemName',
                    title : '系统名称'
                },

                {
                    field : 'content',
                    title : '维修内容'
                },
                {
                    field : 'equipmentName', 
                    title : '报修人员姓名'
                },
                {
                    field : 'maintenancePeopleName',
                    title : '维修人'
                },
                // {
                //     field : 'equipmentDepartmentId',
                //     title : '保修科室'
                // },
                // {
                //     field : 'maintenancePeopleName',
                //     title : '维修人'
                // },
                {
                    field : 'createTime',
                    title : '创建时间'
                },
                // {
                //     field : 'updateTime',
                //     title : '最后修改时间'
                // },
                {
                    field : 'sHstate',
                    title : '审核状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(shdatas, value);
                    }
                },
                {
                    field : 'state', 
                    title : '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field : 'shState',
                    title : '审核状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(wxShState, value);
                    }
                },
                {
                    field : 'wxTime',
                    title : '维修时间'
                },
                {
                    field : 'updateTime',
                    title : '最后修改时间'
                },
                {
                    field : 'remark',
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.warrantyId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.warrantyId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-success btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="detailId(\'' + row.warrantyId + '\')"><i class="fa fa-remove"></i>维修记录</a>');
                        if(row.sHstate==0){ //未审核
                                actions.push('<a class="btn btn-danger btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="f(\'' + row.warrantyId + '\')"><i class="fa fa-edit"></i>审核</a>');

                        }else if(row.sHstate == 2){//审核未通过
                            actions.push('<a class="btn btn-danger btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="f(\'' + row.warrantyId + '\')"><i class="fa fa-edit"></i>审核</a>');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function detailId(planId){
            var url = prefix + '/detail/' + planId;
            $.modal.openTab("查看维修信息", url);
        }
        function f(planId){
            var url = prefix + '/setState/' + planId;
            $.modal.open("审核报修信息", url);
        }
    </script>
</body>
</html>