<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增应急方案关联人员')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-user-add">
            <input name="PlanId" id="planId" type="hidden" th:value="${jzEmergencyPlan.planId}">
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">关联应急预案：</label>-->
<!--                <div class="col-sm-8">-->
<!--&lt;!&ndash;                    <input name="emergencyPlanId" class="form-control" type="text">&ndash;&gt;-->
<!--                    <select class="form-control" name="content" th:with="type=${@dict.emergencySuppliesList()}">-->
<!--                        <option value="">所有</option>-->
<!--                        <option th:each="dict : ${type}" th:text="${dict.title}" th:value="${dict.planId}"></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">组长：</label>
                <div class="col-sm-8">
<!--                    <input name="groupLeaderId" class="form-control" type="text">-->
                    <select name="groupLeaderId" class="form-control m-b" th:with="type=${@dict.uList()}">
                        <option value="">所用</option>
                        <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId} "></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">副组长：</label>
                <div class="col-sm-8">
<!--                    <input name="viceGroupLeaderId" class="form-control" type="text">-->
                    <select name="viceGroupLeaderId" class="form-control select2-multiple" multiple th:with="type=${@dict.uList()}">
                        <option value="">所用</option>
                        <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId} "></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">组员：</label>
                <div class="col-sm-8">
<!--                    <input name="groupUserId" class="form-control" type="text">-->
                    <select name="groupUserId" class="form-control select2-multiple" multiple th:with="type=${@dict.uList()}">
                        <option value="">所用</option>
                        <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId} "></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control"   wrap="off" style="overflow:scroll;" maxlength="200"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <script type="text/javascript">
        var prefix = ctx + "emergency/user"
        $("#form-user-add").validate({
            focusCleanup: true
        });

        // function submitHandler() {
        //     if ($.validate.form()) {
        //         $.operate.save(prefix + "/add", $('#form-user-add').serialize());
        //     }
        // }
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add/"+$('#planId').val(), $('#form-user-add').serialize());
            }
        }
    </script>
</body>
</html>