<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('值班关联用户列表')" />
    <link th:href='@{/fullcalendar-4.4.0/packages/core/main.css}' rel='stylesheet' />
    <link th:href='@{/fullcalendar-4.4.0/packages/daygrid/main.css}' rel='stylesheet' />
    <link th:href='@{/fullcalendar-4.4.0/packages/timegrid/main.css}' rel='stylesheet' />
    <link th:href='@{/fullcalendar-4.4.0/packages/list/main.css}' rel='stylesheet' />
<!--    <link th:href='@{/fullcalendar-1.6.4/fullcalendar/fullcalendar.css}' rel='stylesheet' />-->
<!--    <link th:href='@{/fullcalendar-1.6.4/fullcalendar/fullcalendar.print.css}' rel='stylesheet' media='print' />-->
</head>
<style>
    body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }

    #calendar {
        width: 900px;
        margin: 0 auto;
    }
    .fc-event-time, .fc-event-title {
        color: #fff;
    }
</style>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">


<!--            <div class="col-sm-12 search-collapse">-->
<!--                <form id="formId">-->
<!--                    <div class="select-list">-->
<!--                        <ul>-->
<!--&lt;!&ndash;                            <input type="hidden" id="dictType" name="planId" th:value="${jzPlan.planId}"/>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->



                <table id="bootstrap-table" ></table>
            <div id='calendar'></div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
<!--     <script th:src="@{/layui/layui.js}"></script>-->

<!--     <script th:src="@{/fullcalendar-1.6.4/lib/jquery.min.js}"></script>-->
<!--     <script src='/fullcalendar-1.6.4/lib/jquery.min.js'></script>-->
<!--     <script th:src="@{/fullcalendar-1.6.4/lib/jquery-ui.custom.min.js}"></script>-->
<!--     <script src='lib/jquery-ui.custom.min.js'></script>-->
<!--     <script th:src="@{/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js}"></script>-->
<!--     <script src='fullcalendar/fullcalendar.min.js'></script>-->
     <script th:src='@{/fullcalendar-4.4.0/packages/core/main.js}'></script>
     <script th:src='@{/fullcalendar-4.4.0/packages/interaction/main.js}'></script>
     <script th:src='@{/fullcalendar-4.4.0/packages/daygrid/main.js}'></script>
     <script th:src='@{/fullcalendar-4.4.0/packages/timegrid/main.js}'></script>
     <script th:src='@{/fullcalendar-4.4.0/packages/list/main.js}'></script>
     <script th:src='@{/fullcalendar-4.4.0/packages/bundle/locales/zh-cn.js}'></script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('sysusersystem:user:edit')}]];
        var removeFlag = [[${@permission.hasPermi('sysusersystem:user:remove')}]];
        var datas = [[${@dict.getType('jz_duty_user_state')}]];
        var type = [[${@dict.getType('jz_zb_type')}]];
        var prefix = ctx + "sysusersystem/userl";

        $(function() {
            // var options = {
            //     url: prefix + "/list",
            //     modalName: "值班关联用户",
            //     queryParams: queryParams,
            //     columns: [{
            //         checkbox: true
            //     },
            //         {
            //             field : 'shuLiang',
            //             title : '数量'
            //
            //         },
            //         {
            //             field : 'zbTime',
            //             title : '值班日期'
            //         }
            //     ],
            //     onDblClickRow(row){
            //         showStart(row.zbTime);
            //     }
            // };
            // $.table.init(options);
            $.ajax({
                url:prefix + "/list",
                type:"post",
                dataType:"json",
                data:queryParams,
                success:function(msg){
                    var data = msg.rows;
                    var arr = [];
                    for(var i=0;i<data.length;i++) {
                        arr.push(
                            {
                                title:"今天值班人数："+data[i].shuLiang,
                                start:data[i].zbTime
                            }

                        )
                    }
                    // $('#calendar').fullCalendar({
                    //     editable: false,
                    //     events: arr
                    // });
                    var calendarEl = document.getElementById('calendar');

                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],

                        locale:'zh-cn',
                        navLinks: true, // can click day/week names to navigate views
                        businessHours: true, // display business hours
                        editable: false,
                        events: arr,
                        navLinkDayClick: function(date, jsEvent) {
                            var year = date.getFullYear();
                            var month = date.getMonth()+1;
                            if(month<10) {
                                month = "0"+month
                            }
                            var day = date.getDate();
                            if(day<10) {
                                day = "0"+day
                            }
                            var str = year+"-"+month+"-"+day;
                            console.log(str)
                            showStart(str);

                        },
                        dayClick: function(date, jsEvent) {
                            alert('Clicked 222 ');

                        }
                    });

                    calendar.render();

                    // $("table tbody td").on("dblclick",function () {
                    //     console.log($(this))
                    //     var date = $(this).attr("data-date")
                    //     showStart(date);
                    //      // console.log($(this).attr("data-date"))
                    // })

                }
            })

        });

        function queryParams(params) {
            var search = $.table.queryParams(params);
            search.dictType = $("#dictType").val();
            // alert(search.dictType)
            return search;
        }
        /*查看详细信息*/
        function showStart(zbTime) {
            // alert(zbTime);
            // console.log(zbTime);
            $.modal.open("详细信息", prefix + "/listById/"+zbTime , '' , '' , closemod);

            /*$.news.open("详细信息", prefix + "/listById/"+id , '' , '' , closemod);*/
        }
        function closemod() {
            $.modal.closeAll();
            window.location.reload();
        }
        // function add(){
        //     var id = $("#dictType").val();
        //     var url = prefix + '/add/' + id;
        //     $.modal.open("添加值班用户", url);
        // }

        //

    </script>
</body>
</html>