<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增风险评价')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pingjiabiao-add">
            <input type="hidden" id="riskId" name="riskId" th:value="${riskId}"/>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准分：</label>
                <div class="col-sm-8">
                    <input name="biaozhunFen" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">L：</label>
                <div class="col-sm-8">
                    <input name="lZhi" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">S：</label>
                <div class="col-sm-8">
                    <input name="sZhi" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">R：</label>
                <div class="col-sm-8">
                    <input name="rZhi" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">D：</label>
                <div class="col-sm-8">
                    <input name="dZhi" class="form-control" type="number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">风险等级：</label>
                <div class="col-sm-8">
                    <!--                    <input name="riskLevel" class="form-control" type="text">-->
                    <select id="fengxianJibie" class="form-control" name="fengxianJibie" th:with="type=${@dict.getType('risk_level')}">
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:value="${dict.dictValue}" th:text="${dict.dictLabel}">
                        </option>
                    </select>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">风险级别：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="fengxianJibie" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "sysusersystem/pingjiabiao"
        $("#form-pingjiabiao-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {

                $.operate.save(prefix + "/add", $('#form-pingjiabiao-add').serialize());
            }
        }
    </script>
</body>
</html>