<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('巡检列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                            <input type="hidden" id="riskId" name="jzPlanId" th:value="${dictId}"/>


                        <li>
                            <p>巡检项：</p>
                            <input type="text" name="content" autocomplete="off"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="add()" shiro:hasPermission="sysusersystem:inspection:add">
                        <i class="fa fa-plus"></i>  添加巡查任务
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="sysusersystem:inspection:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="sysusersystem:inspection:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                    <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="sysusersystem:inspection:export">-->
                        <!--<i class="fa fa-download"></i> 导出-->
                    <!--</a>-->
                </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('sysusersystem:inspection:edit')}]];
    var removeFlag = [[${@permission.hasPermi('sysusersystem:inspection:remove')}]];
    var jzEquipmentState = [[${@dict.getType('jz_equipment_state')}]];
    var jzInspectionState = [[${@dict.getType('jz_inspection_state')}]];
    var prefix = ctx + "sysusersystem/inspection";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            queryParams: queryParams,
            exportUrl: prefix + "/export",
            modalName: "巡检",

            loadComplete: function (data) {
                // console.log(data);
            },
            columns: [{
                checkbox: true
            },
                {
                    field : 'id',
                    title : '主键',
                    visible: false
                },
                {
                    field : 'content',
                    title : '巡检项名称'
                },
                {
                    field : 'inspectionProject',
                    title : '巡检项目'
                },
                {
                    field : 'inspectionAddr',
                    title : '巡检地址'
                },
                // {
                //     field : 'jcName',
                //     title : '检查人'
                // },
                {
                    field : 'createTime',
                    title : '创建时间'
                },
                {
                    field : 'equipmentState',
                    title : '设备状态',
                    align:"left",
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(jzEquipmentState, value);
                    }
                },
                {
                    field : 'state',
                    title : '状态',
                    align: "left",
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(jzInspectionState, value);
                    }
                },
                {
                    field : 'remark',
                    title : '备注'
                }
                // ,
                // {
                //     title: '操作',
                //     align: 'center',
                //     formatter: function(value, row, index) {
                //         var actions = [];
                //         actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                //         actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                //         return actions.join('');
                //     }
                // }
            ]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search.riskType = $("#riskType").val();
        return search;
    }
    function add(){
        console.log($("#riskId").val())
        var id = $("#riskId").val();
        var url = prefix + '/add/'+id;
        $.modal.open("添加巡检任务", url);
    }
</script>
</body>
</html>