<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改应急方案关联物资')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-supplies-edit" th:object="${jzEmergencySupplies}">
            <input name="suppliseId" th:field="*{suppliseId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">应急物资大类型：</label>
                <div class="col-sm-8">
<!--                    <input name="suppliseBigTypeId" th:field="*{suppliseBigTypeId}" class="form-control" type="text">-->
                    <select class="form-control" name="suppliseSmTypeId" th:with="type=${@dict.bswzList()}" required>
                        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id} "></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">应急物资小类型：</label>
                <div class="col-sm-8">
<!--                    <input name="suppliseSmTypeId" th:field="*{suppliseSmTypeId}" class="form-control" type="text">-->
                    <select class="form-control" name="suppliseSmTypeId" th:with="type=${@dict.smallTypeList()}" required>
                        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id} "></option>
                    </select>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">应急物资类型：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="typeId" th:field="*{typeId}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">应急物资名称：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="suppliseName" th:field="*{suppliseName}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">总数量：</label>
                <div class="col-sm-8">
                    <input name="countNum" th:field="*{countNum}" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <!--                    <input name="suppliseSmTypeId" th:field="*{suppliseSmTypeId}" class="form-control" type="text">-->
                    <select name="state" th:field="*{state}" class="form-control" th:with="type=${@dict.getType('jz_emergency_supplise_state')}" disabled="true">
                        <option value=""></option>
                        <option  th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue} "></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">物资剩余提醒数量：</label>
                <div class="col-sm-8">
                    <input name="remindNum" th:field="*{remindNum}" class="form-control" type="text" required>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">生产日期：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <div class="input-group date">-->
<!--                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
<!--                        <input name="scDate" th:value="${#dates.format(jzEmergencySupplies.scDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">保质期：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="bzDate" th:field="*{bzDate}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">批次：</label>
                <div class="col-sm-8">
                    <input name="piCi" th:field="*{piCi}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="col-sm-8" th:text="*{remark}" wrap="off" style="overflow:scroll;" maxlength="200"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "emergency/supplies";
        $("#form-supplies-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-supplies-edit').serialize());
            }
        }

        $("input[name='scDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>