<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增隐患')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hidden-trouble-add">
            <input type="hidden" id="dictType" name="planId" th:value="${jzPlan.planId}"/>
            <div class="form-group">    
                <label class="col-sm-3 control-label">隐患类型：</label>
                <div class="col-sm-8">
                    <select class="form-control" name="typeId" th:with="type=${@dict.listType(2)}" required>
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">隐患级别：</label>
                <div class="col-sm-8">
                    <select  class="form-control" name="hiddenJb" th:with="type=${@dict.getType('risk_level')}" required>
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">检查级别：</label>
                <div class="col-sm-8">
                    <input name="jcJb" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-3 control-label">排查状态：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<select  class="form-control" name="state" th:with="type=${@dict.getType('jz_hidden_trouble_state')}" required>-->
                        <!--<option value="">所有</option>-->
                        <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">检查部门：</label>
                <div class="col-sm-8">
                    <input name="jcDept" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">检查人：</label>
                <div class="col-sm-8">
                    <input name="identifyPeople" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">责任人：</label>
                <div class="col-sm-8">
                    <input name="jcName" class="form-control" required autocomplete="off"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">责任部门：</label>
                <div class="col-sm-8">
                    <input name="zrDept" class="form-control" required autocomplete="off"></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">整改时间：</label>
                <div class="col-sm-8">
                    <input id="zgQx" name="zgQx" class="layui-timeline form-control"  placeholder="yyyy-MM-dd HH:mm:ss" required></input>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">隐患位置：</label>
                <div class="col-sm-8">

                    <textarea name="hiddenWz" class="form-control"  required>
                </textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">隐患描述：</label>
                <div class="col-sm-8">
                    <textarea name="hiddenContent" class="form-control" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" ></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />

    <script type="text/javascript">
        var prefix = ctx + "sysusersystem/hiddentrouble"
        $("#form-hidden-trouble-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-hidden-trouble-add').serialize());

                // $.operate.save(prefix + "/add/+"+$('#dictType').val()+"", $('#form-trouble-add').serialize());
            }
        }
    </script>
    <script>
        // //日期时间选择器
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            laydate.render({
                elem: '#zgQx'
                ,type: 'datetime'
            });
        });
    </script>
</body>
</html>