<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改隐患')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hiddent-trouble-edit" th:object="${jzHiddenTrouble}">
            <input id="hiddenTroubleId" name="hiddenTroubleId" th:field="*{hiddenTroubleId}" type="hidden">
            <input id="planId" name="planId" th:field="*{planId}" class="form-control" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">隐患类型</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{typeId}" name="typeId" th:with="type=${@dict.listType(2)}" required>
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}" th:field="*{typeId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">检查级别：</label>
                <div class="col-sm-8">
                    <input name="jcJb" th:field="*{jcJb}" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">检查部门：</label>
                <div class="col-sm-8">
                    <input name="jcDept" th:field="*{jcDept}" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">隐患内容：</label>
                <div class="col-sm-8">
                    <textarea name="hiddenContent" class="form-control" >[[*{hiddenContent}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">隐患位置：</label>
                <div class="col-sm-8">
                    <input name="hiddenWz" th:field="*{hiddenWz}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">隐患级别：</label>
                <div class="col-sm-8">
                    <select  class="form-control" th:field="*{hiddenJb}" name="hiddenJb" th:with="type=${@dict.getType('risk_level')}" required>
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" th:field="*{remark}" class="form-control" type="text"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "sysusersystem/hiddentrouble";
        $("#form-hiddent-trouble-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            // var planId = $('#planId').val();
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-hiddent-trouble-edit').serialize());
            }
        }
    </script>
</body>
</html>