<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改隐患')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hiddent-trouble-edit" th:object="${jzHiddenTrouble}">
            <input id="hiddenTroubleId" name="hiddenTroubleId" th:field="*{hiddenTroubleId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">隐患类型</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{typeId}" name="typeId" th:with="type=${@dict.listType(2)}" required>
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}" th:field="*{typeId}"></option>
                    </select>
                </div>
            </div>
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">系统类型</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select class="form-control" th:field="*{systemId}" name="systemId" th:with="type=${@dict.getSystem(300)}">-->
<!--                        <option value="">所有</option>-->
<!--                        <option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId}" ></option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">制定计划</label>-->
<!--                <div class="col-sm-8">-->
                    <input id="planId" name="planId" th:field="*{planId}" class="form-control" type="hidden">
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">盘查组：</label>
                <div class="col-sm-8">
                    <!--                    <input name="identifyPeople" class="form-control" type="text">-->
<!--                    <select id="identifyPeople" th:field="*{identifyPeople}" class="form-control" name="identifyPeople" th:with="type=${@dict.uList()}" required>-->
<!--                        <option value="">所有</option>-->
<!--                        <option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId}"></option>-->
<!--                    </select>-->
                    <select class="form-control" th:field="*{identifyPeople}" name="identifyPeople" th:with="type=${@dict.getType('ban_zu')}"required>
                        <option value="">所有</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-3 control-label">整改人：</label>-->
                <!--<div class="col-sm-8">-->
                    <!--&lt;!&ndash;                    <input name="rectificationPeople" class="form-control" type="text">&ndash;&gt;-->
                    <!--<select id="rectificationPeople" class="form-control" name="rectificationPeople" th:with="type=${@dict.uList()}">-->
                        <!--<option value="">所有</option>-->
                        <!--<option th:each="dict : ${type}" th:text="${dict.userName}" th:value="${dict.userId}"></option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">整改时间：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="rectificationTime" th:field="*{rectificationTime}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">状态：</label>-->
<!--                <div class="col-sm-8">-->
<!--&lt;!&ndash;                    <input name="state" th:field="*{state}" class="form-control" type="text">&ndash;&gt;-->
<!--                        <select class="form-control" th:field="*{state}" name="state" th:with="type=${@dict.getType('jz_hidden_trouble_state')}" >-->
<!--                            <option value="">所有</option>-->
<!--                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                        </select>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">隐患内容：</label>
                <div class="col-sm-8">
                    <textarea name="hiddenContent" class="form-control" >[[*{hiddenContent}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">隐患位置：</label>
                <div class="col-sm-8">
                    <input name="hiddenWz" th:field="*{hiddenWz}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">隐患级别：</label>
                <div class="col-sm-8">
                    <input name="hiddenJb" th:field="*{hiddenJb}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" th:field="*{remark}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "sysusersystem/hiddentrouble";
        $("#form-hiddent-trouble-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            // var planId = $('#planId').val();
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-hiddent-trouble-edit').serialize());
            }
        }
    </script>
</body>
</html>