<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('巡检列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" class="form-horizontal m">
                <div class="select-list">
                    <ul>
                        <li>
                            <input type="hidden" id="dictType" name="planId" th:value="${dictId}"/>
                        </li>

                        <li>
                            <p>隐患类型：</p>
                            <div class="col-sm-8">
                                <select class="form-control" name="typeId" th:with="type=${@dict.listType(2)}" required>
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <p>隐患级别：</p>
                            <div class="col-sm-8">
                                <select class="form-control" name="hiddenJb" th:with="type=${@dict.getType('risk_level')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </div>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="sysusersystem:trouble:add">
                <i class="fa fa-plus"></i>添加隐患排查
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="sysusersystem:trouble:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="sysusersystem:trouble:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="sysusersystem:trouble:export">-->
                <!--<i class="fa fa-download"></i> 导出-->
            <!--</a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('sysusersystem:trouble:edit')}]];
    var removeFlag = [[${@permission.hasPermi('sysusersystem:trouble:remove')}]];
    var datas = [[${@dict.getType('jz_hidden_trouble_state')}]];
    var yh_jb = [[${@dict.getType('risk_level')}]];
    var prefix = ctx + "sysusersystem/hiddentrouble";

    $(function() {
        var options = {
            url: prefix + "/list",
            queryParams: queryParams,
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "隐患",
            queryParams: queryParams,
            loadComplete: function (data) {
                // console.log(data);
            },
            columns: [{
                checkbox: true
            },
                {
                    field : 'hiddenTroubleId',
                    title : '主键',
                    visible: false
                },
                {
                    field : 'typeName',
                    title : '隐患类型'
                },
                {
                    field : 'jcDept',
                    title : '检查部门'

                },
                {
                    field : 'jcJb',
                    title : '检查级别'
                },
                {
                    field : 'identifyPeople',
                    title : '检查人'
                },
                {
                    field : 'jcName',
                    title : '责任人'
                },
                {
                    field : 'zrDept',
                    title : '责任部门'
                },
                {
                    field : 'zgQx',
                    title : '整改期限'
                },
                {
                    field : 'state',
                    title : '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field : 'hiddenWz',
                    title : '隐患位置'
                },
                {
                    field : 'hiddenJb',
                    title : '隐患级别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(yh_jb, value);
                    }
                },
                // {
                //     field : 'rectificationTime',
                //     title : '整改时间'
                // },
                {
                    field : 'hiddenContent',
                    title : '隐患内容'
                },
                {
                    field : 'createTime',
                    title : '创建时间'
                },
                {
                    field : 'remark',
                    title : '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.hiddenTroubleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.hiddenTroubleId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        // actions.push('<a class="btn btn-primary btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="detail(\'' + row.hiddenTroubleId + '\',\''+row.createTime + '\')"><i class="fa fa-list"></i>事故隐患排查</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search.dictType = $("#dictType").val();
        return search;
    }
    function add(){
        var id = $("#dictType").val();
        var url = prefix + '/add/' + id;
        $.modal.open("添加巡检任务", url);
    }
    // function detail(hiddenTroubleId,createTime) {
    //     var url = prefix + '/detail/' + hiddenTroubleId+createTime;
    //     // alert("id"+hiddenTroubleId);
    //      alert("时间"+createTime);
    //      $.modal.openTab("事故隐患排查", url);
    // }

</script>
</body>
</html>