<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增设备备品件库')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rep-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">规格id：</label>
                <div class="col-sm-8">
<!--                    <input name="spId" class="form-control" type="text">-->
                    <select class="form-control" name="spId" th:with="type=${@dict.esList()}">
                        <option th:each="dict : ${type}" th:text="${dict.spName}" th:value="${dict.spId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">配件名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">型号：</label>
                <div class="col-sm-8">
                    <input name="ggXh" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="num" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最高储存数量：</label>
                <div class="col-sm-8">
                    <input name="highestNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最低储存数量：</label>
                <div class="col-sm-8">
                    <input name="minimumNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
<!--                    <select name="type" class="form-control m-b">-->
<!--                        <option value="">所有</option>-->
<!--                    </select>-->
                    <select name="type" class="form-control m-b" th:with="type=${@dict.getType('leixing_ku')}">
<!--                        <option value="">所有</option>-->
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
<!--                    <input name="state" class="form-control" type="text">-->
                    <select name="state" class="form-control">
                        <option  th:value="0">库存正常</option>
                        <option  th:value="1">库存异常</option>

                    </select>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">创建人id：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="createId" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "equipment/rep"
        $("#form-rep-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-rep-add').serialize());
            }
        }
    </script>
</body>
</html>