<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改设备规格')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-specifications-edit" th:object="${jzEquipmentSpecifications}">
            <input name="spId" th:field="*{spId}" type="hidden">

            <div class="form-group">    
                <label class="col-sm-3 control-label">所属系统：</label>
                <div class="col-sm-8">
<!--                    <input name="systemId" th:field="*{systemId}" class="form-control" type="text">-->
                    <select class="form-control" name="systemId" th:with="type=${@dict.DeptList()}">
                        <option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId} "th:field="*{systemId}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属设备：</label>
                <div class="col-sm-8">
<!--                    <input name="sbId"  class="form-control" type="text">-->
                    <select class="form-control" name="sbId" th:with="type=${@dict.sbList()}">
                        <option th:each="dict : ${type}" th:text="${dict.sbName}" th:value="${dict.sbId}" th:field="*{sbId}"></option>
                    </select>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">创建人id：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="createId" th:field="*{createId}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">规格名称：</label>
                <div class="col-sm-8">
                    <input name="spName" th:field="*{spName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">配件名称：</label>
                <div class="col-sm-8">
                    <input name="erName" th:field="*{erName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">型号：</label>
                <div class="col-sm-8">
                    <input name="ggXh" th:field="*{ggXh}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="num" th:field="*{num}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <select name="type" class="form-control m-b" th:with="type=${@dict.getType('leixing_ku')}">
                        <!--                        <option value="">所有</option>-->
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{type}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <!--                    <input name="state" th:field="*{state}" class="form-control" type="text">-->
                    <select name="state" th:field="*{state}" class="form-control">
                        <option  th:value="0">库存正常</option>
                        <option  th:value="1">库存异常</option>

                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备重量：</label>
                <div class="col-sm-8">
                    <input name="zl" th:field="*{zl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备功率：</label>
                <div class="col-sm-8">
                    <input name="gl" th:field="*{gl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备电压：</label>
                <div class="col-sm-8">
                    <input name="dy" th:field="*{dy}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备电流：</label>
                <div class="col-sm-8">
                    <input name="dl" th:field="*{dl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备转速：</label>
                <div class="col-sm-8">
                    <input name="zs" th:field="*{zs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备载重：</label>
                <div class="col-sm-8">
                    <input name="zz" th:field="*{zz}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">控制方式：</label>
                <div class="col-sm-8">
                    <input name="kzfs" th:field="*{kzfs}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">控制压力：</label>
                <div class="col-sm-8">
                    <input name="kzyl" th:field="*{kzyl}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "equipment/specifications";
        $("#form-specifications-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-specifications-edit').serialize());
            }
        }
    </script>
</body>
</html>