<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>热源系统</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://apip.weatherdt.com/float/static/css/tqw_widget_float.css?v=0101">
</head>
<style>
    .container .contentBlock .right .block2 .seCon .chartBlock {
        width: 100%;
    }
    .yhBlockCon {
        height: calc(100% / 3);
        border-top: 1px dashed #81b773;
    }
    .yhBlockCon:nth-child(1) {
        border-top: none;
    }
    .yhBlockCon .yhBlock{
        float: left;
        width: calc((100% - 80px) / 3);
        text-align: center;
        line-height: 30px;
        background: rgba(0,0,0,0.1);
        color: #999;
        margin-top: 20px;
        margin-left: 20px;
        box-shadow: 1px 1px 10px #666;
    }
    .yhBlockCon .yhBlock .yhName{}
    .yhBlockCon .yhBlock .yhValue{}
</style>
<body class="gray-bg">
<div class="container">
    <div class="topHead">
        热源系统
    </div>
    <div class="contentBlock">
        <div class="left">
            <div class="block block1">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">设备总览</div>
                <div class="seCon">
                    <div class="chartBlock2">
                        <div id="echart1" style="width: 100%;height: 100%"></div>
                    </div>

                </div>
            </div>
            <div class="block block2">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">风险情况统计</div>
                <div class="seCon">
                    <div class="chartBlock">
                        <div id="echart2" style="width: 100%;height: 100%"></div>
                    </div>
                    <div class="tableBlock">
                        <table>
                            <thead>
                            <tr>
                                <td>风险等级</td>
                                <td>数量</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="block block3">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">隐患情况统计</div>
                <div class="seCon">
                    <div class="yhBlockCon">
                        <div class="yhBlock">
                            <div class="yhName">A级隐患</div>
                            <div class="yhValue">410</div>
                        </div>
                        <div class="yhBlock">
                            <div class="yhName">B级隐患</div>
                            <div class="yhValue">274</div>
                        </div>
                        <div class="yhBlock">
                            <div class="yhName">C级隐患</div>
                            <div class="yhValue">285</div>
                        </div>
                    </div>
                    <div class="yhBlockCon">
                        <div class="yhBlock">
                            <div class="yhName">供热锅炉隐患</div>
                            <div class="yhValue">410</div>
                        </div>
                        <div class="yhBlock">
                            <div class="yhName">供热管网隐患</div>
                            <div class="yhValue">274</div>
                        </div>
                        <div class="yhBlock">
                            <div class="yhName">配电设施隐患</div>
                            <div class="yhValue">285</div>
                        </div>
                    </div>
                    <div class="yhBlockCon">

                        <div class="yhBlock">
                            <div class="yhName">外部环境隐患</div>
                            <div class="yhValue">274</div>
                        </div>
                        <div class="yhBlock">
                            <div class="yhName">设备设施隐患</div>
                            <div class="yhValue">285</div>
                        </div>
                        <div class="yhBlock">
                            <div class="yhName">人员行为隐患</div>
                            <div class="yhValue">198</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="block block1">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="msgBlock">
                    <div class="centerLeft">
                        <div class="time1"></div>
                        <div class="time2"></div>
                        <div class="season">
                            <div id="weather"></div>
                        </div>
                    </div>
                    <div class="centerRight">
                        <table>
                            <thead>
                            <tr>
                                <td>值班人员</td>
                                <td>职务</td>
                                <td>联系方式</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="block block2">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">监控视频</div>
                <div class="seCon">
                    <img alt="" src="../static/img/video.png" th:src="@{/img/video.png}">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="block block1">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">应急预案、人员、物资</div>
                <div class="seCon">
                    <div class="chartBlock2">
                        <div id="echart6" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="block block2">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">应急资源</div>
                <div class="seCon">
                    <div class="chartBlock2">
                        <div id="echart7" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="block block3">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>

                <div class="seTitle">巡检情况统计</div>
                <div class="seCon">
                    <div class="chartBlock2">
                        <div id="echart5" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/dist/echarts.min.js}"></script>
<!--<script src="https://apip.weatherdt.com/float/static/js/tqw_widget_float.js?v=0101"></script>-->
<script type="text/javascript">
    WIDGET = {FID: 'qhaGYeyTf0'}
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#weather-float-he').find('a').attr('href', 'javascript:void(0);');
        var dom_tianqi = $('#weather-float-he').children('div');
        var len = dom_tianqi.length;
        if (len > 1) {
            dom_tianqi.eq(1).children('div').eq(0).animate({ height: 400 }, 300);
        }
        //处理背景，消除水印，居中定位
        $('.wf-vs-copyright').remove();
        $('#weather-float-he').children('div').eq(0).css('background-image', '');
        $('#weather-float-he').children('div').eq(0).css('box-shadow', '');
        $('#weather-float-he').css({ width: 170, top: "50%", left: "50%", transform: "translate(-50%, -50%)" });
        $('#weather').append($('#weather-float-he'));
        var chartData1 = [
            {name:"排气装置",value: 307},
            {name:"除污",value: 578},
            {name:"疏水",value: 96},
            {name:"伸缩部件",value: 987},
            {name:"热量仪表",value: 87},
            {name:"平衡阀",value: 987},
        ]
        var chartData2 = [
            {name:"A级风险",value: 285},
            {name:"B级风险",value: 410},
            {name:"C级风险",value: 274},
            {name:"D级风险",value: 235},
        ]
        var chartData31 = [
            {name:"A级隐患",value: 285},
            {name:"B级隐患",value: 410},
            {name:"C级隐患",value: 274},
        ]
        var chartData32 = [
            {name:"供热锅炉隐患",value: 285},
            {name:"供热管网隐患",value: 410},
            {name:"配电设施隐患",value: 274},
        ]
        var chartData33 = [
            {name:"人员行为隐患",value: 11},
            {name:"设备设施隐患",value: 9},
            {name:"外部环境隐患",value: 7},
            {name:"其它隐患",value: 5},
        ]
        var chartData4 =[
            {name:"热源巡检",value: [3.6, 3.4, 3.2,3.5],color1:"#603813",color2:"#b29f94"},
            {name:"热力网巡检",value: [3.5, 3.3, 3.1,3.5],color1:"#ff6e7f",color2:"#ff6e7f"},
            {name:"热力用户巡检",value: [3.4, 3.2, 3.0,3.5],color1:"#314755",color2:"#26a0da"},
        ]
        var chartData51 =[
            {name:"泄漏事故",value: 50},
            {name:"爆炸事故",value: 30},
            {name:"火灾事故",value: 10},
            {name:"天气环境",value: 60},
        ]
        var chartData52 = [
            {name:"人员",value: 40},
            {name:"设备",value: 50},
            {name:"物料",value: 60},
            {name:"运输",value: 70},
        ]
        var chartData6 = [
            {name:"排气装置",value: 40},
            {name:"除污",value: 50},
            {name:"疏水",value: 60},
            {name:"伸缩部件",value: 70},
            {name:"热量仪表",value: 98},
            {name:"平衡阀",value: 98},
        ]
        var chartData7 = [
            {name:"马宏宇",job:"值班员",phone:"15320202020"},
            {name:"宗敬先",job:"值班领导",phone:"15320202020"}
        ]
        reTable1(chartData1)
        reTable2(chartData2)
        reTable3(chartData32)
        reTable4(chartData52)
        reTable5(chartData6)
        reTable6(chartData7)
        getTime()
        chart1()
        chart2(chartData2)
        //chart3(chartData31)
        //chart4(chartData33)
        chart5(chartData4)
        chart6(chartData51)
        chart7()
    })
    function reTable1(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block1 table tbody").html(str)
    }
    function reTable2(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block2 table tbody").html(str)
    }
    function reTable3(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block3 table tbody").html(str)
    }
    function reTable4(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".right .block2 table tbody").html(str)
    }
    function reTable5(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".right .block3 table tbody").html(str)
    }
    function reTable6(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].job+"</td>";
            str+="<td>"+data[i].phone+"</td>";
            str+="</tr>";
        }
        $(".center .block1 table tbody").html(str)
    }
    function getTime(){
        var str1="";
        var str2="";
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        var week = date.getDay();
        month = addTen(month)
        day = addTen(day)
        hour = addTen(hour)
        minute = addTen(minute)
        second = addTen(second)

        switch(week){
            case 1:
                week = "一";
                break;
            case 2:
                week = "二";
                break;
            case 3:
                week = "三";
                break;
            case 4:
                week = "四";
                break;
            case 5:
                week = "五";
                break;
            case 6:
                week = "六";
                break;
            case 7:
                week = "日";
                break;
            default:
                week = "日";
                break;
        }
        var str1=hour+":"+minute+":"+second;
        var str2=year+"年"+month+"月"+day+"日"+" 星期"+week;
        $(".center .msgBlock .centerLeft .time1").html(str1)
        $(".center .msgBlock .centerLeft .time2").html(str2)

    }
    function addTen(val){
        var result = 0;
        if(val < 10) {
            result="0"+val;
        }else {
            result = val
        }
        return result;
    }

    function chart1(){

        var myChart = echarts.init(document.getElementById('echart1'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [{
                name: '设备数量',
                type: 'pie',
                radius: '68%',
                center: ['50%', '50%'],
                clockwise: false,

                data: [{
                    value: 307,
                    name: '排气装置'
                }, {
                    value: 578,
                    name: '除污'
                }, {
                    value: 96,
                    name: '疏水'
                }, {
                    value: 987,
                    name: '伸缩部件'
                }, {
                    value: 87,
                    name: '热量仪表'
                },{
                    value: 987,
                    name: '平衡阀'
                }],
                label: {
                    normal: {
                        textStyle: {
                            color: '#5E7DB4',
                            fontSize: 14,
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                itemStyle: {
                    normal: {
                        borderWidth: 4,
                        borderColor: '#052945',
                    },
                    emphasis: {
                        borderWidth: 0,
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }],
            color: [
                '#00acee',
                '#52cdd5',
                '#79d9f1',
                '#a7e7ff',
                '#c8efff'
            ],
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart2(data){
        var myChart = echarts.init(document.getElementById('echart2'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },

            visualMap: {
                show: false,
                min: 500,
                max: 600,
                inRange: {
                    //colorLightness: [0, 1]
                }
            },
            series: [{
                name: '风险情况统计',
                type: 'pie',
                radius: '50%',
                center: ['50%', '50%'],
                color: ['#DAE2F8', '#D6A4A4', '#859398', '#3D7EAA'],
                data: data.sort(function(a, b) {
                    return a.value - b.value
                }),
                roseType: 'radius',

                label: {
                    normal: {
                        formatter: ['{c|{c}次}', '{b|{b}}'].join('\n'),
                        rich: {
                            c: {
                                color: 'rgb(241,246,104)',
                                fontSize: 12,
                                fontWeight:'bold',
                                lineHeight: 5
                            },
                            b: {
                                color: 'rgb(98,137,169)',
                                fontSize: 12,
                                height: 20
                            },
                        },
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgb(98,137,169)',
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20,

                    }
                },
                itemStyle: {
                    normal: {
                        shadowColor: 'rgba(0, 0, 0, 0.8)',
                        shadowBlur: 50,
                    }
                }
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart3(data){
        var myChart = echarts.init(document.getElementById('echart3'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },

            visualMap: {
                show: false,
                min: 500,
                max: 600,
                inRange: {
                    //colorLightness: [0, 1]
                }
            },
            series: [{
                name: '隐患情况统计',
                type: 'pie',
                radius: '50%',
                center: ['50%', '50%'],
                color: ['rgb(131,249,103)', '#FBFE27', '#FE5050', '#1DB7E5'],
                data: data.sort(function(a, b) {
                    return a.value - b.value
                }),
                roseType: 'radius',

                label: {
                    normal: {
                        formatter: ['{c|{c}次}', '{b|{b}}'].join('\n'),
                        rich: {
                            c: {
                                color: 'rgb(241,246,104)',
                                fontSize: 12,
                                fontWeight:'bold',
                                lineHeight: 5
                            },
                            b: {
                                color: 'rgb(98,137,169)',
                                fontSize: 12,
                                height: 20
                            },
                        },
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgb(98,137,169)',
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20,

                    }
                },
                itemStyle: {
                    normal: {
                        shadowColor: 'rgba(0, 0, 0, 0.8)',
                        shadowBlur: 50,
                    }
                }
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart4(data){
        var nameArr = [];
        var valueArr = [];
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            valueArr.push(data[i].value);
        }
        var myChart = echarts.init(document.getElementById('echart4'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                show: false,
                textStyle: {
                    color: '#5E7DB4'
                },
                data: ['2019年']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01],
                axisLine: {
                    lineStyle: {
                        color: '#5E7DB4'
                    }
                },
            },
            yAxis: {
                type: 'category',
                axisLine: {
                    lineStyle: {
                        color: '#5E7DB4'
                    }
                },
                data: nameArr
            },
            series: [{
                name: '2019年',
                type: 'bar',
                data: valueArr,
                itemStyle: {
                    normal: {
                        color: '#06d3cd',
                        barBorderRadius: [20, 20, 20, 20],
                    }
                },
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart5(data){
        var nameArr = []
        var serverArr = []
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            serverArr.push(
                {
                    name: data[i].name,
                    type: 'bar',
                    barWidth: '10%',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: data[i].color1
                            }, {
                                offset: 1,
                                color: data[i].color2
                            }]),
                            barBorderRadius: 12,
                        },
                    },
                    data: data[i].value
                }
            )
        }


        var myChart = echarts.init(document.getElementById('echart5'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '2%',
                right: '4%',
                bottom: '14%',
                top: '16%',
                containLabel: true
            },
            legend: {
                data: nameArr,
                right: 10,
                top: 12,
                textStyle: {
                    color: "#5E7DB4"
                },
                itemWidth: 12,
                itemHeight: 10,
                // itemGap: 35
            },
            xAxis: {
                type: 'category',
                data: ['第一季度', '第二季度', '第三季度','第四季度'],
                axisLine: {
                    lineStyle: {
                        color: 'white'

                    }
                },
                axisLabel: {
                    textStyle: {
                        fontFamily: 'Microsoft YaHei'
                    }
                },
            },

            yAxis: {
                type: 'value',
                max: '4',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: 'white'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255,255,255,0.3)'
                    }
                },
                axisLabel: {}
            },
            series: serverArr
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart6(data){
        var nameArr = [];
        var valueArr = [];
        var arrSort = [];
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            valueArr.push(data[i].value);
            arrSort.push(data[i].value);
        }
        arrSort.sort(function (a, b) {
            return a-b;
        });
        var max = parseInt(arrSort[arrSort.length - 1]);
        var arrSort1=[]
        var arrSort2=[]
        var arrSort3=[]
        for(var i=0;i<data.length;i++) {
            arrSort1.push(max+9)
            arrSort2.push(max+10)
            arrSort3.push(0)
        }
        var myColor = ['#3CA55C', '#B5AC49', '#56B4D3', '#9733EE'];
        var myChart = echarts.init(document.getElementById('echart6'));
        var option = {
            grid: {
                left: '15%',
                top: '0%',
                right: '0%',
                bottom: '0%',
                containLabel: true
            },
            xAxis: [{
                show: false,
            }],
            yAxis: [{
                axisTick: 'none',
                axisLine: 'none',
                offset: '27',
                axisLabel: {
                    textStyle: {
                        color: '#5E7DB4',
                        fontSize: '12',
                    }
                },
                data: nameArr
            }, {
                axisTick: 'none',
                axisLine: 'none',
                axisLabel: {
                    textStyle: {
                        color: '#5E7DB4',
                        fontSize: '12',
                    }
                },
                data: valueArr
            }, {
                name: '',
                nameGap: '50',
                nameTextStyle: {
                    color: '#5E7DB4',
                    fontSize: '12',
                },
                axisLine: {
                    lineStyle: {
                        color: 'rgba(0,0,0,0)'
                    }
                },
                data: [],
            }],
            series: [{
                name: '条',
                type: 'bar',
                yAxisIndex: 0,
                data: valueArr,
                label: {
                    normal: {
                        show: true,
                        position: 'right',
                        textStyle: {
                            color: '#5E7DB4',
                            fontSize: '12',
                        }
                    }
                },
                barWidth: 10,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            var num = myColor.length;
                            return myColor[params.dataIndex % num]
                        },
                    }
                },
                z: 2
            }, {
                name: '白框',
                type: 'bar',
                yAxisIndex: 1,
                barGap: '-100%',
                data: [69, 69, 69, 69],
                barWidth: 20,
                itemStyle: {
                    normal: {
                        color: '#0e2147',
                        barBorderRadius: 5,
                    }
                },
                z: 1
            }, {
                name: '外框',
                type: 'bar',
                yAxisIndex: 2,
                barGap: '-100%',
                data: [70, 70, 70, 70],
                barWidth: 22,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            var num = myColor.length;
                            return myColor[params.dataIndex % num]
                        },
                        barBorderRadius: 5,
                    }
                },
                z: 0
            },
                {
                    name: '外圆',
                    type: 'scatter',
                    hoverAnimation: false,
                    data: [0, 0, 0, 0],
                    yAxisIndex: 2,
                    symbolSize: 25,
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                var num = myColor.length;
                                return myColor[params.dataIndex % num]
                            },
                            opacity: 1,
                        }
                    },
                    z: 2
                }
            ]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart7(){
        var myChart = echarts.init(document.getElementById('echart7'));
        var dataIPSxAxis = ['2019 05/20  ', '2019 05/24', '2019 05/27', '2019 05/29 ', '2019 05/02 ', '2019 05/08'];
        var dataIPS = [20, 60, 50, 80, 120, 100];
        var dataIPS2 = [20, 70, 60, 80, 100, 90];
        var dataIPS3 = [15, 60, 70, 50, 90, 80];
        var dataIPS4 = [20, 70, 80, 90, 80, 100];
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985',
                    },
                }
            },
            color: ["#0080ff", "#4cd5ce"],
            toolbox: {
                // feature: {
                //     saveAsImage: {}
                // }
            },
            grid: {
                left: '5%',
                right: '5%',
                top: '10%',
                bottom: '0%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                data: dataIPSxAxis,
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#6ba1bb',
                        fontSize: 12,
                    },
                    formatter: function(value) {
                        //debugger
                        var ret = ""; //拼接加\n返回的类目项
                        var maxLength = 5; //每项显示文字个数
                        var valLength = value.length; //X轴类目项的文字个数
                        var rowN = Math.ceil(valLength / maxLength); //类目项需要换行的行数
                        if (rowN > 1) //如果类目项的文字大于3,
                        {
                            for (var i = 0; i < rowN; i++) {
                                var temp = ""; //每次截取的字符串
                                var start = i * maxLength; //开始截取的位置
                                var end = start + maxLength; //结束截取的位置
                                //这里也可以加一个是否是最后一行的判断，但是不加也没有影响，那就不加吧
                                temp = value.substring(start, end) + "\n";
                                ret += temp; //凭借最终的字符串
                            }
                            return ret;
                        } else {
                            return value;
                        }
                    },
                },
                axisLine: {
                    lineStyle: {
                        color: '#0a2b52',
                        width: 0.5, //这里是为了突出显示加上的
                    }
                }
            }],
            yAxis: [{
                type: 'value',
                axisLine: {
                    onZero: false,
                    lineStyle: {
                        color: '#0a2b52',
                        width: 1, //这里是为了突出显示加上的
                    }
                },

                axisLabel: {
                    formatter: function(val) {
                        return val + '';
                    },
                    show: true,
                    textStyle: {
                        color: '#6ba1bb' //字体颜色
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        type: 'dashed'

                    }

                },
            }],
            series: [{
                name: '人员',
                type: 'line',
                smooth: true,
                itemStyle: {
                    normal: { //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: '#CB8993' // 0% 处的颜色
                        }, {
                            offset: 0.5,
                            color: '#CB8993' // 100% 处的颜色
                        }, {
                            offset: 1,
                            color: '#CC56CB' // 100% 处的颜色
                        }]), //背景渐变色
                        lineStyle: { // 系列级个性化折线样式
                            width: 0.5,
                            type: 'solid',
                            color: "#CC56CB"
                        }
                    },
                    emphasis: {
                        color: '#02675f',
                        lineStyle: { // 系列级个性化折线样式
                            width: 0.5,
                            type: 'dotted',
                            color: "#02675f" //折线的颜色
                        }
                    }
                }, //线条样式
                symbolSize: 5, //折线点的大小
                areaStyle: {
                    normal: {}
                },
                data: dataIPS,
            },

                {
                    name: '设备',
                    type: 'line',
                    smooth: true,
                    itemStyle: {
                        normal: { //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: '#64CAFA' // 0% 处的颜色
                            }, {
                                offset: 0.5,
                                color: '#64CAFA' // 100% 处的颜色
                            }, {
                                offset: 1,
                                color: '#0078D7' // 100% 处的颜色
                            }]), //背景渐变色
                            lineStyle: { // 系列级个性化折线样式
                                width: 0.5,
                                type: 'solid',
                                color: "#0078D7"
                            }
                        },
                        emphasis: {
                            color: '#02675f',
                            lineStyle: { // 系列级个性化折线样式
                                width: 0.5,
                                type: 'dotted',
                                color: "#02675f" //折线的颜色
                            }
                        }
                    }, //线条样式
                    symbolSize: 5, //折线点的大小
                    areaStyle: {
                        normal: {}
                    },
                    data: dataIPS2,
                },

                {
                    name: '物料',
                    type: 'line',
                    smooth: true,
                    itemStyle: {
                        normal: { //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: '#64CAFA' // 0% 处的颜色
                            }, {
                                offset: 0.5,
                                color: '#64CAFA' // 100% 处的颜色
                            }, {
                                offset: 1,
                                color: '#0078D7' // 100% 处的颜色
                            }]), //背景渐变色
                            lineStyle: { // 系列级个性化折线样式
                                width: 0.5,
                                type: 'solid',
                                color: "#0078D7"
                            }
                        },
                        emphasis: {
                            color: '#02675f',
                            lineStyle: { // 系列级个性化折线样式
                                width: 0.5,
                                type: 'dotted',
                                color: "#02675f" //折线的颜色
                            }
                        }
                    }, //线条样式
                    symbolSize: 5, //折线点的大小
                    areaStyle: {
                        normal: {}
                    },
                    data: dataIPS3,
                }, {
                    name: '运输',
                    type: 'line',
                    smooth: true,
                    itemStyle: {
                        normal: { //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: '#D879F0' // 0% 处的颜色
                            }, {
                                offset: 0.5,
                                color: '#B7B77C' // 100% 处的颜色
                            }, {
                                offset: 1,
                                color: '#4B8986' // 100% 处的颜色
                            }]), //背景渐变色
                            lineStyle: { // 系列级个性化折线样式
                                width: 0.5,
                                type: 'solid',
                                color: "#0078D7"
                            }
                        },
                        emphasis: {
                            color: '#02675f',
                            lineStyle: { // 系列级个性化折线样式
                                width: 0.5,
                                type: 'dotted',
                                color: "#02675f" //折线的颜色
                            }
                        }
                    }, //线条样式
                    symbolSize: 5, //折线点的大小
                    areaStyle: {
                        normal: {}
                    },
                    data: dataIPS4,
                },

            ]
        };
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
</script>
</body>
</html>
