<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--360浏览器优先以webkit内核解析-->
	<title>首页</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	<link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
	<link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
	<link rel="stylesheet" href="https://apip.weatherdt.com/float/static/css/tqw_widget_float.css?v=0101">
</head>
<style>
	.container .contentBlock .left div.block {
		height:calc((100% - 20px) / 3);
	}
	.container .contentBlock .right div.block {
		height:calc((100% - 20px) / 3);
	}
	.container .contentBlock .left div.block3,
	.container .contentBlock .right div.block1,
	.container .contentBlock .right div.block3
	{
		width:calc((100% - 10px) / 2);
		margin-right:10px;
		float:left;
	}
	.container .contentBlock .left .block3 .seCon .chartBlock,
	.container .contentBlock .left .block4 .seCon .chartBlock,
	.container .contentBlock .right .block1 .seCon .chartBlock,
	.container .contentBlock .right .block2 .seCon .chartBlock,
	.container .contentBlock .right .block3 .seCon .chartBlock,
	.container .contentBlock .right .block4 .seCon .chartBlock,
	.container .contentBlock .right .block5 .seCon .chartBlock{
		width:100%;
	}
	.container .contentBlock .left div.block4,
	.container .contentBlock .right div.block2,
	.container .contentBlock .right div.block4{
		width:calc((100% - 10px) / 2);
		float:left;
	}
	.container .contentBlock .right div.block5 {
		width:100%;
		float:left;
		margin-top: 10px;
	}
</style>
<body class="gray-bg">
<div class="container">
	<div class="topHead">
		医院后勤安全生产管控可视化平台
	</div>
	<div class="contentBlock">
		<div class="left">
			<div class="block block1">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">电力-用电情况</div>
				<div class="seCon">
					<div class="chartBlock2">
						<div id="echart8" style="width: 100%;height: 100%"></div>
					</div>
				</div>

			</div>
			<div class="block block2">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">热源-风险情况统计</div>
				<div class="seCon">
					<div class="chartBlock">
						<div id="echart2" style="width: 100%;height: 100%"></div>
					</div>
					<div class="tableBlock">
						<table>
							<thead>
							<tr>
								<td>风险等级</td>
								<td>数量</td>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="block block3">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">燃气-隐患情况统计</div>
				<div class="seCon">
					<div class="chartBlock">
						<div id="echart3" style="width: 100%;height: 100%"></div>
					</div>
				</div>
			</div>
			<div class="block block4">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">制冷及空调-巡检情况统计</div>
				<div class="seCon">
					<div class="chartBlock">
						<div id="echart5" style="width: 100%;height: 100%"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="center">
			<div class="block block1">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="msgBlock">
					<div class="centerLeft">
						<div class="time1"></div>
						<div class="time2"></div>
						<div class="season">
							<div id="weather"></div>
						</div>
					</div>
					<div class="centerRight">
						<table>
							<thead>
							<tr>
								<td>值班人员</td>
								<td>职务</td>
								<td>联系方式</td>
							</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="block block2">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">监控视频</div>
				<div class="seCon">
					<img alt="" src="../static/img/video.png" th:src="@{/img/video.png}">
				</div>
			</div>
		</div>
		<div class="right">
			<div class="block block1">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">电梯-应急预案</div>
				<div class="seCon">
					<div class="chartBlock">
						<div id="echart6" style="width: 100%;height: 100%"></div>
					</div>
				</div>
			</div>
			<div class="block block2">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">给排水-未巡检</div>
				<div class="seCon">
					<div class="tableBlock" style="width:100%;">
						<table>
							<thead>
							<tr>
								<td>设备类型</td>
								<td>数量</td>
							</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="block block3">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">医用气体-设备总览</div>
				<div class="seCon">
					<div class="chartBlock">
						<div id="echart7" style="width: 100%;height: 100%"></div>
					</div>
				</div>
			</div>
			<div class="block block4">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">电力-设备总览</div>
				<div class="seCon">
					<div class="chartBlock2">
						<div id="echart1" style="width: 100%;height: 100%"></div>
					</div>
				</div>
			</div>
			<div class="block block5">
				<span class="mycorner lefttop"></span>
				<span class="mycorner righttop"></span>
				<span class="mycorner leftbottom"></span>
				<span class="mycorner rightbottom"></span>
				<div class="seTitle">工地安全-隐患情况统计</div>
				<div class="seCon">
					<div class="chartBlock">
						<div id="echart4" style="width: 100%;height: 100%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/dist/echarts.min.js}"></script>
<!--<script src="https://apip.weatherdt.com/float/static/js/tqw_widget_float.js?v=0101"></script>-->
<script type="text/javascript">
    WIDGET = {FID: 'qhaGYeyTf0'}
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#weather-float-he').find('a').attr('href', 'javascript:void(0);');
        var dom_tianqi = $('#weather-float-he').children('div');
        var len = dom_tianqi.length;
        if (len > 1) {
            dom_tianqi.eq(1).children('div').eq(0).animate({ height: 400 }, 300);
        }
        //处理背景，消除水印，居中定位
        $('.wf-vs-copyright').remove();
        $('#weather-float-he').children('div').eq(0).css('background-image', '');
        $('#weather-float-he').children('div').eq(0).css('box-shadow', '');
        $('#weather-float-he').css({ width: 170, top: "50%", left: "50%", transform: "translate(-50%, -50%)" });
        $('#weather').append($('#weather-float-he'));
        var chartData1 = [
            {name:"发电设备",value: 307},
            {name:"变电设备",value: 578},
            {name:"输电设备",value: 96},
            {name:"配电设备",value: 987},
        ]
        var chartData2 = [
            {name:"A级风险",value: 285},
            {name:"B级风险",value: 410},
            {name:"C级风险",value: 274},
            {name:"D级风险",value: 235},
        ]
        var chartData31 = [
            {name:"A级隐患",value: 285},
            {name:"B级隐患",value: 410},
            {name:"C级隐患",value: 274},
        ]
        var chartData32 = [
            {name:"高压配电室",value: 285},
            {name:"低压配电室",value: 410},
            {name:"供电线路",value: 274},
        ]
        var chartData33 = [
            {name:"配电设备",value: 11},
            {name:"输电设备",value: 9},
            {name:"变电设备",value: 7},
            {name:"发电设备",value: 5},
        ]
        var chartData4 =[
            {name:"供电场所",value: [3.6, 3.4, 3.2],color1:"#fccb05",color2:"#f5804d"},
            {name:"高低压配电站",value: [3.5, 3.3, 3.1],color1:"#8bd46e",color2:"#09bcb7"},
            {name:"供电线路",value: [3.4, 3.2, 3.0],color1:"#248ff7",color2:"#6851f1"},
        ]
        var chartData51 =[
            {name:"触电事故",value: 50},
            {name:"停电事故",value: 30},
            {name:"火灾事故",value: 10},
            {name:"天气环境",value: 60},
        ]
        var chartData52 = [
            {name:"人员",value: 40},
            {name:"设备",value: 50},
            {name:"物料",value: 60},
            {name:"运输",value: 70},
        ]
        var chartData6 = [
            {name:"配电设备",value: 40},
            {name:"输电设备",value: 50},
            {name:"变电设备",value: 60},
            {name:"发电设备",value: 70},
        ]
        var chartData7 = [
            {name:"马宏宇",job:"值班员",phone:"15320202020"},
            {name:"宗敬先",job:"值班领导",phone:"15320202020"}
        ]
        reTable1(chartData1)
        reTable2(chartData2)
        reTable3(chartData32)
        reTable4(chartData52)
        reTable5(chartData6)
        reTable6(chartData7)
        getTime()
        chart1(chartData1)
        chart2(chartData2)
        chart3(chartData31)
        chart4(chartData33)
        chart5(chartData4)
        chart6(chartData51)
        chart7(chartData1)
        chart8(chartData2)
    })
    function reTable1(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block1 table tbody").html(str)
    }
    function reTable2(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block2 table tbody").html(str)
    }
    function reTable3(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block3 table tbody").html(str)
    }
    function reTable4(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".right .block2 table tbody").html(str)
    }
    function reTable5(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".right .block3 table tbody").html(str)
    }
    function reTable6(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].job+"</td>";
            str+="<td>"+data[i].phone+"</td>";
            str+="</tr>";
        }
        $(".center .block1 table tbody").html(str)
    }
    function getTime(){
        var str1="";
        var str2="";
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        var week = date.getDay();
        month = addTen(month)
        day = addTen(day)
        hour = addTen(hour)
        minute = addTen(minute)
        second = addTen(second)

        switch(week){
            case 1:
                week = "一";
                break;
            case 2:
                week = "二";
                break;
            case 3:
                week = "三";
                break;
            case 4:
                week = "四";
                break;
            case 5:
                week = "五";
                break;
            case 6:
                week = "六";
                break;
            case 7:
                week = "日";
                break;
            default:
                week = "日";
                break;
        }
        var str1=hour+":"+minute+":"+second;
        var str2=year+"年"+month+"月"+day+"日"+" 星期"+week;
        $(".center .msgBlock .centerLeft .time1").html(str1)
        $(".center .msgBlock .centerLeft .time2").html(str2)

    }
    function addTen(val){
        var result = 0;
        if(val < 10) {
            result="0"+val;
        }else {
            result = val
        }
        return result;
    }

    function chart1(data){

        var myChart = echarts.init(document.getElementById('echart1'));
        var option = {
            color: ['#3D91F7', '#61BE67'],
            tooltip: {},
            legend: {
                show: true,
                icon: "circle",
                bottom: 30,
                center: 0,
                itemWidth: 14,
                itemHeight: 14,
                itemGap: 21,
                orient: "horizontal",
                data: ['a', 'b'],
                textStyle: {
                    fontSize: '70%',
                    color: '#8C8C8C'
                },
            },

            radar: {
                // shape: 'circle',
                radius:'80%',
                triggerEvent: true,
                name: {
                    textStyle: {
                        color: '#fff',
                        fontSize:'12',
                        borderRadius: 3,
                        padding: [3, 5]
                    }
                },
                nameGap:'2',
                indicator: [
                    {name: '发电设备', max: 1000},
                    {name: '变电设备',max: 1000},
                    {name: '输电设备', max: 1000},
                    {name: '配电设备', max: 1000}
                ],
                splitArea: {
                    areaStyle: {
                        color: [
                            'rgba(222,134,85, 0.1)', 'rgba(222,134,85, 0.2)',
                            'rgba(222,134,85, 0.4)', 'rgba(222,134,85, 0.6)',
                            'rgba(222,134,85, 0.8)', 'rgba(222,134,85, 1)'
                        ].reverse()
                    }
                },
                // axisLabel:{//展示刻度
                //     show: true
                // },
                axisLine: { //指向外圈文本的分隔线样式
                    lineStyle: {
                        color: 'rgba(0,0,0,0)'
                    }
                },
                splitLine: {
                    lineStyle: {
                        width:2,
                        color: [
                            'rgba(224,134,82, 0.1)', 'rgba(224,134,82, 0.2)',
                            'rgba(224,134,82, 0.4)', 'rgba(224,134,82, 0.6)',
                            'rgba(224,134,82, 0.8)', 'rgba(224,134,82, 1)'
                        ].reverse()
                    }
                },

            },

            series: [{
                name: '一级权重分析',
                type: 'radar',
                //areaStyle: {normal: {}},
                areaStyle: {
                    normal: {
                        color: 'rgba(252,211,3, 0.3)'
                    }
                },
                symbolSize: 0,
                lineStyle: {
                    normal: {
                        color: 'rgba(252,211,3, 1)',
                        width: 1
                    }
                },
                data: [{
                    value: [307, 578, 96, 987],
                    name: '因素',
                }
                ]
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart2(data){
        var myChart = echarts.init(document.getElementById('echart2'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },

            visualMap: {
                show: false,
                min: 500,
                max: 600,
                inRange: {
                    //colorLightness: [0, 1]
                }
            },
            series: [{
                name: '风险情况统计',
                type: 'pie',
                radius: '50%',
                center: ['50%', '50%'],
                color: ['#003973', '#E5E5BE', '#CC95C0', '#7AA1D2'],
                data: data.sort(function(a, b) {
                    return a.value - b.value
                }),
                roseType: 'radius',

                label: {
                    normal: {
                        formatter: ['{c|{c}次}', '{b|{b}}'].join('\n'),
                        rich: {
                            c: {
                                color: 'rgb(241,246,104)',
                                fontSize: 12,
                                fontWeight:'bold',
                                lineHeight: 5
                            },
                            b: {
                                color: 'rgb(98,137,169)',
                                fontSize: 12,
                                height: 20
                            },
                        },
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgb(98,137,169)',
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20,

                    }
                },
                itemStyle: {
                    normal: {
                        shadowColor: 'rgba(0, 0, 0, 0.8)',
                        shadowBlur: 50,
                    }
                }
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart3(data){
        var myChart = echarts.init(document.getElementById('echart3'));
        var option = {
            series: [
                {
                    name: 'A级隐患',
                    type: 'pie',
                    radius: ['25%', '30%'],
                    center: ['50%', '25%'],
                    startAngle: 225,
                    color: [new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: '#FDFF5C'
                    }, {
                        offset: 1,
                        color: '#FFDB5C'
                    }]), "transparent"],
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    label: {
                        normal: {
                            position: 'center'
                        }
                    },
                    data: [{
                        value: 75,
                        name: 'A级隐患',
                        label: {
                            normal: {
                                formatter: 'A级隐患',
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 12

                                }
                            }
                        }
                    }, {
                        value: 25,
                        name: '%',
                        label: {
                            normal: {
                                formatter: '\n\n35',
                                textStyle: {
                                    color: '#007ac6',
                                    fontSize: 12

                                }
                            }
                        }
                    },
                        {
                            value: 0,
                            name: '%',
                            label: {
                                normal: {
                                    formatter: '',
                                    textStyle: {
                                        color: '#fff',
                                        fontSize: 12

                                    }
                                }
                            }
                        }]
                },
                {
                    name: 'B级隐患',
                    type: 'pie',
                    radius: ['25%', '30%'],
                    center: ['25%', '75%'],
                    startAngle: 225,
                    color: [new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: '#9FE6B8'
                    }, {
                        offset: 1,
                        color: '#32C5E9'
                    }]), "transparent"],
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    label: {
                        normal: {
                            position: 'center'
                        }
                    },
                    data: [{
                        value: 75,
                        name: 'B级隐患',
                        label: {
                            normal: {
                                formatter: 'B级隐患',
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 12

                                }
                            }
                        }
                    }, {
                        value: 25,
                        name: '%',
                        label: {
                            normal: {
                                formatter: '\n\n3534',
                                textStyle: {
                                    color: '#007ac6',
                                    fontSize: 12

                                }
                            }
                        }
                    },
                        {
                            value: 0,
                            name: '%',
                            label: {
                                normal: {
                                    formatter: '',
                                    textStyle: {
                                        color: '#fff',
                                        fontSize: 12

                                    }
                                }
                            }
                        }]
                },
                {
                    name: 'C级隐患',
                    type: 'pie',
                    radius: ['25%', '30%'],
                    center: ['75%', '75%'],
                    startAngle: 225,
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    label: {
                        normal: {
                            position: 'center'
                        }
                    },
                    data: [{
                        value: 75,
                        "itemStyle": {
                            "normal": {
                                "color": new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    "offset": 0,
                                    "color": '#FF9F7F'
                                }, {
                                    "offset": 1,
                                    "color": '#FB7293'
                                }]),
                            }
                        },
                        name: 'C级隐患',
                        label: {
                            normal: {
                                formatter: 'C级隐患',
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 12

                                }
                            }
                        }
                    }, {
                        value: 25,
                        name: '%',
                        label: {
                            normal: {
                                formatter: '\n\n3534',
                                textStyle: {
                                    color: '#f125ff',
                                    fontSize: 12

                                }
                            }
                        }
                    },
                        {
                            value: 0,
                            name: '%',
                            label: {
                                normal: {
                                    formatter: '',
                                    textStyle: {
                                        color: '#fff',
                                        fontSize: 12

                                    }
                                }
                            }
                        }]
                }
            ]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart4(data){
        var nameArr = [];
        var valueArr = [];
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            valueArr.push(data[i].value);
        }
        var myChart = echarts.init(document.getElementById('echart4'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                show: false,
                textStyle: {
                    color: '#5E7DB4'
                },
                data: ['2019年']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01],
                axisLine: {
                    lineStyle: {
                        color: '#5E7DB4'
                    }
                },
            },
            yAxis: {
                type: 'category',
                axisLine: {
                    lineStyle: {
                        color: '#5E7DB4'
                    }
                },
                data: nameArr
            },
            series: [{
                name: '2019年',
                type: 'bar',
                data: valueArr,
                itemStyle: {
                    normal: {
                        color: '#E7E9BB',

                    }
                },
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart5(data){
        var nameArr = []
        var serverArr = []
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            serverArr.push(
                {
                    name: data[i].name,
                    type: 'bar',
                    barWidth: '15%',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: data[i].color1
                            }, {
                                offset: 1,
                                color: data[i].color2
                            }]),
                            barBorderRadius: 12,
                        },
                    },
                    data: data[i].value
                }
            )
        }


        var myChart = echarts.init(document.getElementById('echart5'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '2%',
                right: '4%',
                bottom: '14%',
                top: '16%',
                containLabel: true
            },
            legend: {
                data: nameArr,
                right: 10,
                top: 12,
                textStyle: {
                    color: "#5E7DB4"
                },
                itemWidth: 12,
                itemHeight: 10,
                // itemGap: 35
            },
            xAxis: {
                type: 'category',
                data: ['低', '中', '高'],
                axisLine: {
                    lineStyle: {
                        color: 'white'

                    }
                },
                axisLabel: {
                    textStyle: {
                        fontFamily: 'Microsoft YaHei'
                    }
                },
            },

            yAxis: {
                type: 'value',
                max: '4',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: 'white'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255,255,255,0.3)'
                    }
                },
                axisLabel: {}
            },
            series: serverArr
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart6(data){
        var myChart = echarts.init(document.getElementById('echart6'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [{
                name: '库存情况',
                type: 'pie',
                radius: '68%',
                center: ['50%', '50%'],
                clockwise: false,
                data: [{
                    value: 45,
                    name: '天气环境'
                }, {
                    value: 25,
                    name: '火灾事故'
                }, {
                    value: 15,
                    name: '停电事故'
                }, {
                    value: 8,
                    name: '触电事故'
                }],
                label: {
                    normal: {
                        textStyle: {
                            color: '#fff',
                            fontSize: 12,
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                itemStyle: {
                    normal: {
                        borderWidth: 4,
                        borderColor: '#042844',
                    },
                    emphasis: {
                        borderWidth: 0,
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }],
            color: [
                '#00acee',
                '#52cdd5',
                '#79d9f1',
                '#a7e7ff',
                '#c8efff'
            ],
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart7(data){
        var nameArr = [];
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name)
        }
        var myChart = echarts.init(document.getElementById('echart7'));
        var option = {
            color: ["#CC95C0", "#DBD4B4", "#7AA1D2", "#B5AC49"],
            grid: {
                left: -100,
                top: 50,
                bottom: 10,
                right: 10,
                containLabel: true
            },
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },
            polar:{},
            legend: {
                type: "scroll",
                orient: "vartical",
                // x: "right",
                top: "top",
                left: "right",
                // bottom: "0%",
                itemWidth: 6,
                itemHeight: 6,
                itemGap: 2,
                textStyle: {
                    color: '#A3E2F4',
                    fontSize: 12,
                    fontWeight: 0
                },
                data: nameArr
            },
            angleAxis: {
                interval: 1,
                type: 'category',
                data: [],
                z: 10,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: "#0B4A6B",
                        width: 1,
                        type: "solid"
                    },
                },
                axisLabel: {
                    interval: 0,
                    show: true,
                    color: "#0B4A6B",
                    margin: 8,
                    fontSize: 12
                },
            },
            radiusAxis: {
                min: 40,
                max: 120,
                interval: 20,
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: "#0B3E5E",
                        width: 1,
                        type: "solid"
                    },
                },
                axisLabel: {
                    formatter: '{value} %',
                    show: false,
                    padding: [0, 0, 20, 0],
                    color: "#0B3E5E",
                    fontSize: 12
                },
                splitLine: {
                    lineStyle: {
                        color: "#0B3E5E",
                        width: 2,
                        type: "solid"
                    }
                }
            },
            calculable: true,
            series: [{
                type: 'pie',
                radius: ["5%", "10%"],
                hoverAnimation: false,
                labelLine: {
                    normal: {
                        show: false,
                        length: 20,
                        length2: 45
                    },
                    emphasis: {
                        show: false
                    }
                },
                data: [{
                    name: '',
                    value: 0,
                    itemStyle: {
                        normal: {
                            color: "#0B4A6B"
                        }
                    }
                }]
            }, {
                type: 'pie',
                radius: ["90%", "95%"],
                hoverAnimation: false,
                labelLine: {
                    normal: {
                        show: false,
                        length: 20,
                        length2: 45
                    },
                    emphasis: {
                        show: false
                    }
                },
                name: "",
                data: [{
                    name: '',
                    value: 0,
                    itemStyle: {
                        normal: {
                            color: "#0B4A6B"
                        }
                    }
                }]
            },{
                stack: 'a',
                type: 'pie',
                radius: ['20%', '80%'],
                roseType: 'area',
                zlevel:10,
                label: {
                    normal: {
                        show: true,
                        formatter: "{c}",
                        textStyle: {
                            fontSize: 12,
                        },
                        position: 'outside'
                    },
                    emphasis: {
                        show: true
                    }
                },
                labelLine: {
                    normal: {
                        show: true,
                        length: 10,
                        length2: 45
                    },
                    emphasis: {
                        show: false
                    }
                },
                data: data
            }, ]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart8(data){
		var charts = {
			unit: 'Kbps',
			names: ['用电量'],
			lineX: ['01.01', '01.02', '01.03', '01.04', '01.05', '01.06', '01.07', '01.08', '01.09', '01.10', '01.11', '01.12', '01.13', '01.14', '01.15', '01.16', '01.17', '01.18', '01.19', '01.20'],
			value: [
				[451, 352, 303, 534, 95, 236, 217, 328, 159, 151, 231, 192, 453, 524, 165, 236, 527, 328, 129, 530]
			]

		}
		var color = ['rgba(23, 255, 243', 'rgba(255,100,97']
		var lineY = []
		for (var i = 0; i < charts.names.length; i++) {
			var x = i
			if (x > color.length - 1) {
				x = color.length - 1
			}
			var data = {
				name: charts.names[i],
				type: 'line',
				color: color[x] + ')',
				smooth: true,
				areaStyle: {
					normal: {
						color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
							offset: 0,
							color: color[x] + ', 0.3)'
						}, {
							offset: 0.8,
							color: color[x] + ', 0)'
						}], false),
						shadowColor: 'rgba(0, 0, 0, 0.1)',
						shadowBlur: 10
					}
				},
				symbol: 'circle',
				symbolSize: 5,
				data: charts.value[i]
			}
			lineY.push(data)
		}

		lineY[0].markLine = {
			silent: true,
			data: [{
				yAxis: 5
			}, {
				yAxis: 100
			}, {
				yAxis: 200
			}, {
				yAxis: 300
			}, {
				yAxis: 400
			}]
		}
        var myChart = echarts.init(document.getElementById('echart8'));
        var option = {
			tooltip: {
				trigger: 'axis'
			},
			legend: {
				data: charts.names,
				textStyle: {
					fontSize: 12,
					color: 'rgb(0,253,255,0.6)'
				},
				right: '4%'
			},
			grid: {
				top: '14%',
				left: '4%',
				right: '4%',
				bottom: '12%',
				containLabel: true
			},
			xAxis: {
				type: 'category',
				boundaryGap: false,
				data: charts.lineX,
				axisLabel: {
					textStyle: {
						color: 'rgb(0,253,255,0.6)'
					},
					formatter: function(params) {
						return params
					}
				}
			},
			yAxis: {
				type: 'value',
				axisLabel: {
					formatter: '{value}',
					textStyle: {
						color: 'rgb(0,253,255,0.6)'
					}
				},
				splitLine: {
					lineStyle: {
						color: 'rgb(23,255,243,0.3)'
					}
				},
				axisLine: {
					lineStyle: {
						color: 'rgb(0,253,255,0.6)'
					}
				}
			},
			series: lineY
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }

</script>
</body>
</html>
