<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增用户')"/>
    <style>
        .error{
            color:red;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-user-add">
        <!--            <div class="form-group">    -->
        <!--                <label class="col-sm-3 control-label">系统id：</label>-->
        <!--                <div class="col-sm-8">-->
        <!--                    <select class="form-control" name="systemId" th:with="type=${@dict.DeptList()}">-->
        <!--                        <option th:each="dict : ${type}" th:text="${dict.deptName}" th:value="${dict.deptId} "></option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--            </div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">所属系统：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="systemId" th:with="type=${@dict.getSystem(300)}">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.deptName}"
                                    th:value="${dict.deptId} "></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">人员类型：</label>
                    <div class="col-sm-8">
                        <select name="userType" class="form-control" th:with="type=${@dict.utList()}">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.name}" th:value="${dict.id}"></option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <!--            <div class="form-group">    -->
        <!--                <label class="col-sm-3 control-label">部门id：</label>-->
        <!--                <div class="col-sm-8">-->
        <!--                    <input name="deptId" class="form-control" type="text">-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            <div class="form-group">-->
        <!--                <label class="col-sm-3 control-label">用户名称：</label>-->
        <!--                <div class="col-sm-8">-->
<!--                            <input name="userName" class="form-control" type="datetime-local" >-->
<!--        <input type="datetime-local" step="01" >-->
        <!--                </div>-->
        <!--            </div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户名称：</label>
                    <div class="col-sm-8">
                        <!--                            <input name="password" placeholder="请输入登录密码" class="form-control" type="password" th:value="${@config.getKey('sys.user.initPassword')}" required autocomplete="off">-->
                        <input name="userName" class="form-control" type="text" required>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <!--                <label class="col-sm-3 control-label">性别：</label>-->
                    <!--                <div class="col-sm-8">-->
                    <!--                    <input name="gender" class="form-control" type="text" required>-->
                    <!--                </div>-->
                    <label class="col-sm-4 control-label">手机号：</label>
                    <div class="col-sm-8">
                        <input name="phone" class="form-control" type="isPhone" required>
                    </div>

                </div>
            </div>
        </div>f
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <!--                <label class="col-sm-4 control-label">人员类型：</label>-->
                    <label class="col-sm-4 control-label">员工性别：</label>
                    <div class="col-sm-8">
                        <select name="gender" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" required="required">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">在职状态：</label>
                    <div class="col-sm-8">
                        <select name="state" class="form-control" th:with="type=${@dict.getType('user_stats')}">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">所属医院：</label>
                    <div class="col-sm-8">
                        <select id="hospitalId" name="hospitalId" class="form-control"
                                th:with="type=${@dict.DeptBuList(0)}">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.deptName}"
                                    th:value="${dict.deptId} "></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">所属分院：</label>
                    <div class="col-sm-8">
                        <select id="ministryId" name="ministryId" class="form-control"
                                th:with="type=${@dict.DeptBuList(100)}">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.deptName}"
                                    th:value="${dict.deptId} "></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">所属科室：</label>
                    <div class="col-sm-8">
                        <select id="families" name="families" class="form-control"
                                th:with="type=${@dict.DeptBuList(101)}">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.deptName}"
                                    th:value="${dict.deptId} "></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">所属小组：</label>
                    <div class="col-sm-8">
                        <select name="teamId" class="form-control m-b" th:with="type=${@dict.getType('ban_zu')}">
                            <option value="" >所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">家庭住址：</label>
                    <div class="col-sm-8">
                        <input name="adrress" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">紧急电话：</label>
                    <div class="col-sm-8">
                        <input name="emergencyCall" class="form-control" type="isPhone" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">工号：</label>
            <div class="col-sm-8">
                <input name="userNum" class="form-control" type="text" required>
            </div>
        </div>
            </div>
            <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4 control-label">备注</label>
            <div class="col-sm-8">
                <input name="remark" class="form-control" type="text">
            </div>
        </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<!--<script src="/jquery_validation/lib/jquery.js"></script>-->
<!--<script src="/jquery_validation/dist/jquery.validate.min.js"></script>-->
<!--<script src="/jquery_validation/dist/localization/messages_zh.js"></script>-->

<script type="text/javascript">
    //js相关内容，不要在head标签中写，尽量放到所有标签之后
    var prefix = ctx + "juser/user"
    $("#form-user-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        // if ($.validate.form()) {
        //     //上面的if是validate对form的判断，如果用正则，可以在这里再加一层判断
        //     var phone = document.getElementById('phone').value;
        //     if(!(/^1[3456789]\d{9}$/.test(phone))){
        //         alert("手机号码有误，请重填");
        //         return false;
        //     }else {
        //         $.operate.save(prefix + "/add", $('#form-user-add').serialize());
        //     }
        // }
        if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-user-add').serialize());
        }
    }
    $().ready(function() {
        $("#form").validate();
    });
    //这里定义了方法，没调用啊
    // function checkPhone(){
    //     var phone = document.getElementById('phone').value;
    //     if(!(/^1[3456789]\d{9}$/.test(phone))){
    //         alert("手机号码有误，请重填");
    //         return false;
    //     }
    // }
</script>
</body>
</html>