<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>电力系统</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://apip.weatherdt.com/float/static/css/tqw_widget_float.css?v=0101">
</head>
<style>

    .left .block3 .fxBlock {
        display: inline-block;
        width: calc((100% - 60px) / 2);
        text-align: center;
        margin-left: 20px;
        margin-top: 10px;
        line-height: 24px;
        border: 1px solid #0186BB;
        background: rgba(0,0,0,0.2);
    }
    .left .block3 .fxName {
        color: #0A7BB8;

    }
    .left .block3 .fxValue {
        color: #fff;
    }
</style>
<body class="gray-bg">
<div class="container">
    <div class="topHead">
        电力系统
    </div>
    <div class="contentBlock">
        <div class="left">
            <div class="block block1">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">设备异常统计</div>
                <div class="seCon">
                    <div class="chartBlock">
                        <div id="echart1" style="width: 100%;height: 100%"></div>
                    </div>
                    <div class="tableBlock">
                        <table>
                            <thead>
                            <tr>
                                <td>异常类型</td>
                                <td>数量</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="block block2">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">各科室月度用电量对比</div>
                <div class="seCon">
                    <div class="chartBlock2">
                        <div id="echart2" style="width: 100%;height: 100%"></div>

                    </div>
                </div>
            </div>
            <div class="block block3">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">风险等级统计与隐患情况统计</div>
                <div class="seCon">
                    <div class="top1">
                        <div class="chartBlock" style="width: 50%;">
                            <div id="echart3" style="width: 100%;height: 100%"></div>
                        </div>
                        <div class="tableBlock" style="width: 30%;height: 100%;float: right;" >
                            <table>
                                <thead>
                                <tr>
                                    <td>风险等级</td>
                                    <td>数量</td>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="top2">
                        <div class="chartBlock2">
                            <!--<div id="echart4" style="width: 100%;height: 100%"></div>-->
                            <div class="fxBlock">
                                <div class="fxName">A级风险</div>
                                <div class="fxValue">285</div>
                            </div>
                            <div class="fxBlock">
                                <div class="fxName">B级风险</div>
                                <div class="fxValue">410</div>
                            </div>
                            <div class="fxBlock">
                                <div class="fxName">C级风险</div>
                                <div class="fxValue">274</div>
                            </div>
                            <div class="fxBlock">
                                <div class="fxName">D级风险</div>
                                <div class="fxValue">235</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="block block1">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="msgBlock">
                    <div class="centerLeft">
                        <div class="time1"></div>
                        <div class="time2"></div>
                        <div class="season">
                            <div id="weather"></div>
                        </div>
                    </div>
                    <div class="centerRight">
                        <table>
                            <thead>
                            <tr>
                                <td>值班人员</td>
                                <td>职务</td>
                                <td>联系方式</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="block block2">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">电路监控</div>
                <div class="seCon">
                    <img alt="" src="../static/img/electric.png" th:src="@{/img/electric.png}">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="block block1">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">月度用电量统计</div>
                <div class="seCon">
                    <div class="chartBlock2">
                        <div id="echart5" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="block block2">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">应急物资统计</div>
                <div class="seCon">
                    <div class="chartBlock" style="width:50%">
                        <div id="echart6" style="width: 100%;height: 100%"></div>
                    </div>
                    <div class="tableBlock" style="width:50%">
                        <div id="echart8" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="block block3">
                <span class="mycorner lefttop"></span>
                <span class="mycorner righttop"></span>
                <span class="mycorner leftbottom"></span>
                <span class="mycorner rightbottom"></span>
                <div class="seTitle">年度数据统计</div>
                <div class="seCon">
                    <div class="chartBlock2">
                        <div id="echart7" style="width: 100%;height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/dist/echarts.min.js}"></script>
<!--<script src="https://apip.weatherdt.com/float/static/js/tqw_widget_float.js?v=0101"></script>-->
<script type="text/javascript">
    WIDGET = {FID: 'qhaGYeyTf0'}
</script>
<script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#weather-float-he').find('a').attr('href', 'javascript:void(0);');
        var dom_tianqi = $('#weather-float-he').children('div');
        var len = dom_tianqi.length;
        if (len > 1) {
            dom_tianqi.eq(1).children('div').eq(0).animate({ height: 400 }, 300);
        }
        //处理背景，消除水印，居中定位
        $('.wf-vs-copyright').remove();
        $('#weather-float-he').children('div').eq(0).css('background-image', '');
        $('#weather-float-he').children('div').eq(0).css('box-shadow', '');
        $('#weather-float-he').css({ width: 170, top: "50%", left: "50%", transform: "translate(-50%, -50%)" });
        $('#weather').append($('#weather-float-he'));
        var chartData1 = [
            {name:"漏电次数",value: 17},
            {name:"过压次数",value: 28},
            {name:"过载次数",value: 57},
            {name:"短路报警",value: 17},
        ]
        var chartData2 = [
            {name:"A级风险",value: 285},
            {name:"B级风险",value: 410},
            {name:"C级风险",value: 274},
            {name:"D级风险",value: 235},
        ]
        var chartData31 = [
            {name:"A级风险",value: 285},
            {name:"B级风险",value: 410},
            {name:"C级风险",value: 274},
            {name:"D级风险",value: 274},
        ]
        var chartData32 = [
            {name:"A级风险",value: 285},
            {name:"B级风险",value: 410},
            {name:"C级风险",value: 274},
            {name:"D级风险",value: 274},
        ]
        var chartData33 = [
            {name:"配电设备",value: 11},
            {name:"输电设备",value: 9},
            {name:"变电设备",value: 7},
            {name:"发电设备",value: 5},
        ]
        var chartData4 =[
            {name:"供电场所",value: [3.6, 3.4, 3.2],color1:"#4b6cb7",color2:"#182848"},
            {name:"高低压配电站",value: [3.5, 3.3, 3.1],color1:"#49a09d",color2:"#5f2c82"},
            {name:"供电线路",value: [3.4, 3.2, 3.0],color1:"#DAE2F8",color2:"#D6A4A4"},
        ]
        var chartData51 =[
            {name:"触电事故",value: 50},
            {name:"停电事故",value: 30},
            {name:"火灾事故",value: 10},
            {name:"天气环境",value: 60},
        ]
        var chartData52 = [
            {name:"人员",value: 40},
            {name:"设备",value: 50},
            {name:"物料",value: 60},
            {name:"运输",value: 70},
        ]
        var chartData6 = [
            {name:"配电设备",value: 40},
            {name:"输电设备",value: 50},
            {name:"变电设备",value: 60},
            {name:"发电设备",value: 70},
        ]
        var chartData7 = [
            {name:"马宏宇",job:"值班员",phone:"15320202020"},
            {name:"宗敬先",job:"值班领导",phone:"15320202020"}
        ]
        var chartData71 = [
            {name:"最大功率",value:[1000,589,1235,954,1234,654,478,598,687,843,658,1548]},
            {name:"最小功率",value:[234,198,354,241,125,165,124,98,165,234,345,156]},
            //{name:"用电量",value:[2568,1539,1258,2589,3568,4521,3215,2105,1026,965,845,1548]}
        ]
        reTable1(chartData1)
        reTable2(chartData2)
        reTable3(chartData32)
        reTable4(chartData52)
        reTable5(chartData6)
        reTable6(chartData7)
        getTime()
        chart1(chartData1)
         chart2(chartData2)
        chart3(chartData31)
        //chart4(chartData33)
        chart5(chartData4)
        chart6(chartData51)
        chart7(chartData71)
        chart8(chartData51)
    })
    function reTable1(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block1 table tbody").html(str)
    }
    function reTable2(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block2 table tbody").html(str)
    }
    function reTable3(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".left .block3 table tbody").html(str)
    }
    function reTable4(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".right .block2 table tbody").html(str)
    }
    function reTable5(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].value+"</td>";
            str+="</tr>";
        }
        $(".right .block3 table tbody").html(str)
    }
    function reTable6(data){
        var str="";
        for(var i=0;i<data.length;i++) {
            str+="<tr>";
            str+="<td>"+data[i].name+"</td>";
            str+="<td>"+data[i].job+"</td>";
            str+="<td>"+data[i].phone+"</td>";
            str+="</tr>";
        }
        $(".center .block1 table tbody").html(str)
    }
    function getTime(){
        var str1="";
        var str2="";
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth()+1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        var week = date.getDay();
        month = addTen(month)
        day = addTen(day)
        hour = addTen(hour)
        minute = addTen(minute)
        second = addTen(second)

        switch(week){
            case 1:
                week = "一";
                break;
            case 2:
                week = "二";
                break;
            case 3:
                week = "三";
                break;
            case 4:
                week = "四";
                break;
            case 5:
                week = "五";
                break;
            case 6:
                week = "六";
                break;
            case 7:
                week = "日";
                break;
            default:
                week = "日";
                break;
        }
        var str1=hour+":"+minute+":"+second;
        var str2=year+"年"+month+"月"+day+"日"+" 星期"+week;
        $(".center .msgBlock .centerLeft .time1").html(str1)
        $(".center .msgBlock .centerLeft .time2").html(str2)

    }
    function addTen(val){
        var result = 0;
        if(val < 10) {
            result="0"+val;
        }else {
            result = val
        }
        return result;
    }

    function chart1(data){
        var myChart = echarts.init(document.getElementById('echart1'));
        var rich = {
            white: {
                color: '#ddd',
                align: 'center',
                padding: [5, 0]
            }
        };
        var placeHolderStyle = {
            normal: {
                label: {
                    show: false
                },
                labelLine: {
                    show: false
                },
                color: 'rgba(0, 0, 0, 0)',
                borderColor: 'rgba(0, 0, 0, 0)',
                borderWidth: 0
            }
        };
        var result = [];
        for (var i = 0; i < data.length; i++) {
            result.push({
                value: data[i].value,
                name: data[i].name,
                itemStyle: {
                    normal: {
                        borderWidth: 5,
                        shadowBlur: 30,
                        borderColor: new echarts.graphic.LinearGradient(0, 0, 1, 1, [{
                            offset: 0,
                            color: '#7777eb'
                        }, {
                            offset: 1,
                            color: '#70ffac'
                        }]),
                        shadowColor: 'rgba(142, 152, 241, 0.6)'
                    }
                }
            }, {
                value: 4,
                name: '',
                itemStyle: placeHolderStyle
            });
        }
        var seriesObj = [{
            name: '',
            type: 'pie',
            clockWise: false,
            radius: [40, 45],
            hoverAnimation: false,
            itemStyle: {
                normal: {
                    label: {
                        show: true,
                        position: 'outside',
                        color: '#ddd',
                        formatter: function(params) {
                            var percent = 0;
                            var total = 0;
                            for (var i = 0; i < data.length; i++) {
                                total += data[i].value;
                            }
                            percent = ((params.value / total) * 100).toFixed(0);
                            if(params.name !== '') {
                                return params.name;
                            }else {
                                return '';
                            }
                        },
                        rich: rich
                    },
                    labelLine: {
                        show: false
                    }
                }
            },
            data: result
        }];
        var option = {
            tooltip: {
                show: false
            },
            legend: {
                show: false
            },
            toolbox: {
                show: false
            },
            series: seriesObj
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart2(data){
        var myChart = echarts.init(document.getElementById('echart2'));
        var option = {
            //backgroundColor:'#323a5e',
            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '2%',
                right: '4%',
                bottom: '14%',
                top:'16%',
                containLabel: true
            },
            legend: {
                data: ['1', '2'],
                right: 10,
                top:12,
                textStyle: {
                    color: "#fff"
                },
                itemWidth: 12,
                itemHeight: 10,
                // itemGap: 35
            },
            xAxis: {
                type: 'category',
                data: ['住院部','门诊部','急诊部','手术室'],
                axisLine: {
                    lineStyle: {
                        color: 'white'

                    }
                },
                axisLabel: {
                    // interval: 0,
                    // rotate: 40,
                    textStyle: {
                        fontFamily: 'Microsoft YaHei'
                    }
                },
            },

            yAxis: {
                type: 'value',
                // max:'1200',
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: 'white'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255,255,255,0.3)'
                    }
                },
                axisLabel: {}
            },

            series: [{
                name: '上月用电量',
                type: 'bar',
                barWidth: '15%',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: '#fccb05'
                        }, {
                            offset: 1,
                            color: '#f5804d'
                        }]),
                        barBorderRadius: 12,
                    },
                },
                data: [400, 400, 300, 300, 300,]
            },

                {
                    name: '本月用电量',
                    type: 'bar',
                    barWidth: '15%',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: '#248ff7'
                            }, {
                                offset: 1,
                                color: '#6851f1'
                            }]),
                            barBorderRadius: 11,
                        }
                    },
                    data: [400, 600, 700, 700, ]
                }]
        };

        var app = {
            currentIndex: -1,
        };
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart3(data){
        var myChart = echarts.init(document.getElementById('echart3'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c} ({d}%)"
            },

            visualMap: {
                show: false,
                min: 500,
                max: 600,
                inRange: {
                    //colorLightness: [0, 1]
                }
            },
            series: [{
                name: '风险等级',
                type: 'pie',
                radius: '50%',
                center: ['50%', '50%'],
                color: [ '#F7C802','#007F00' ,'#FC0001','#FC6401'],//3是a  2是d 4是b 1是c
                data: data.sort(function(a, b) {
                    return a.value - b.value
                }),
                roseType: 'radius',

                label: {
                    normal: {
                        formatter: ['{c|{c}}', '{b|{b}}'].join('\n'),
                        rich: {
                            c: {
                                color: 'rgb(241,246,104)',
                                fontSize: 12,
                                fontWeight:'bold',
                                lineHeight: 5
                            },
                            b: {
                                color: 'rgb(98,137,169)',
                                fontSize: 12,
                                height: 20
                            },
                        },
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgb(98,137,169)',
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20,

                    }
                },
                itemStyle: {
                    normal: {
                        shadowColor: 'rgba(0, 0, 0, 0.8)',
                        shadowBlur: 50,
                    }
                }
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart4(data){
        var nameArr = [];
        var valueArr = [];
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            valueArr.push(data[i].value);
        }
        var myChart = echarts.init(document.getElementById('echart4'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                show: false,
                textStyle: {
                    color: '#5E7DB4'
                },
                data: ['2019年']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                top: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01],
                axisLine: {
                    lineStyle: {
                        color: '#5E7DB4'
                    }
                },
            },
            yAxis: {
                type: 'category',
                axisLine: {
                    lineStyle: {
                        color: '#5E7DB4'
                    }
                },
                data: nameArr
            },
            series: [{
                name: '2019年',
                type: 'bar',
                data: valueArr,
                itemStyle: {
                    normal: {
                        color: '#e9d362',
                        barBorderRadius: [20, 20, 20, 20],
                    }
                },
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
            }]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart5(data){
        var nameArr = []
        var serverArr = []
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            serverArr.push(
                {
                    name: data[i].name,
                    type: 'bar',
                    barWidth: '15%',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: data[i].color1
                            }, {
                                offset: 1,
                                color: data[i].color2
                            }]),

                        },
                    },
                    data: data[i].value
                }
            )
        }


        var myChart = echarts.init(document.getElementById('echart5'));
        // var option = {
        //     tooltip: {
        //         trigger: 'axis', //触发类型
        //         axisPointer: { // 坐标轴指示器，坐标轴触发有效
        //             type: 'shadow' // 默认为直线，可选为：'line' | 'shadow' 阴影指示器
        //         }
        //     },
        //     grid: {
        //         left: '2%',
        //         right: '4%',
        //         bottom: '14%',
        //         top: '16%',
        //         containLabel: true
        //     },
        //     legend: {
        //         data: nameArr,
        //         right: 10,
        //         top: 12,
        //         textStyle: {
        //             color: "#5E7DB4"
        //         },
        //         itemWidth: 12,
        //         itemHeight: 10,
        //         // itemGap: 35
        //     },
        //     xAxis: {
        //         type: 'category',
        //         data: ['低', '中', '高'],
        //         axisLine: {
        //             lineStyle: {
        //                 color: 'white'
        //
        //             }
        //         },
        //         axisLabel: {
        //             textStyle: {
        //                 fontFamily: 'Microsoft YaHei'
        //             }
        //         },
        //     },
        //
        //     yAxis: {
        //         type: 'value',
        //         max: '4',
        //         axisLine: {
        //             show: false,
        //             lineStyle: {
        //                 color: 'white'
        //             }
        //         },
        //         splitLine: {
        //             show: true,
        //             lineStyle: {
        //                 color: 'rgba(255,255,255,0.3)'
        //             }
        //         },
        //         axisLabel: {}
        //     },
        //     series: serverArr
        // }
        var option = {

            tooltip: {
                trigger: 'axis',
                axisPointer: { // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                left: '2%',
                right: '4%',
                bottom: '14%',
                top:'16%',
                containLabel: true
            },
            legend: {
                data: ['1', '2', '3'],
                right: 10,
                top:12,
                textStyle: {
                    color: "#fff"
                },
                itemWidth: 12,
                itemHeight: 10,
                // itemGap: 35
            },
            xAxis: {
                name:'月份',
                type: 'category',
                data: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                axisLine: {
                    lineStyle: {
                        color: 'white'

                    }
                },
                axisLabel: {
                    // interval: 0,
                    // rotate: 40,
                    textStyle: {
                        fontFamily: 'Microsoft YaHei'
                    }
                },
            },

            yAxis: {
                type: 'value',

                axisLine: {
                    show: false,
                    lineStyle: {
                        color: 'white'
                    }
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: 'rgba(255,255,255,0.3)'
                    }
                },
                axisLabel: {}
            },

            series: [
                {
                    name: '用电量（度）',
                    type: 'line',
                    barWidth: '15%',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: '#248ff7'
                            }, {
                                offset: 1,
                                color: '#6851f1'
                            }]),
                            barBorderRadius: 11,
                        }
                    },
                    data: [400, 600, 700, 700, 1000, 400, 400, 600, 700, 400, 400, 300]
                }]
        };

        var app = {
            currentIndex: -1,
        };
         myChart.setOption(option);

        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart6(data){
        var nameArr = [];
        var valueArr = [];
        var arrSort = [];
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            valueArr.push(data[i].value);
            arrSort.push(data[i].value);
        }
        arrSort.sort(function (a, b) {
            return a-b;
        });
        var max = parseInt(arrSort[arrSort.length - 1]);
        var arrSort1=[]
        var arrSort2=[]
        var arrSort3=[]
        for(var i=0;i<data.length;i++) {
            arrSort1.push(max+9)
            arrSort2.push(max+10)
            arrSort3.push(0)
        }
        var myColor = [ '#eb3600',  '#34da62', '#00c0e9', '#0096f3'];
        var myChart = echarts.init(document.getElementById('echart6'));
        var option = {
            grid: {
                left: '15%',
                top: '0%',
                right: '5%',
                bottom: '0%',
                containLabel: true
            },
            xAxis: [{
                show: false,
            }],
            yAxis: [{
                axisTick: 'none',
                axisLine: 'none',
                offset: '27',
                axisLabel: {
                    textStyle: {
                        color: '#5E7DB4',
                        fontSize: '12',
                    }
                },
                data: ['防护用品','生命救助','生命支持','救援运载','临时食宿','污染清理','动力燃料']
            }, {
                axisTick: 'none',
                axisLine: 'none',
                axisLabel: {
                    textStyle: {
                        color: '#5E7DB4',
                        fontSize: '12',
                    }
                },
                data: []
            }, {
                name: '',
                nameGap: '50',
                nameTextStyle: {
                    color: '#5E7DB4',
                    fontSize: '12',
                },
                axisLine: {
                    lineStyle: {
                        color: 'rgba(0,0,0,0)'
                    }
                },
                data: [],
            }],
            series: [{
                name: '条',
                type: 'bar',
                yAxisIndex: 0,
                data: [60,50,10,22,15,55,44],
                label: {
                    normal: {
                        show: true,
                        position: 'right',
                        textStyle: {
                            color: '#5E7DB4',
                            fontSize: '12',
                        }
                    }
                },
                barWidth: 10,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            var num = myColor.length;
                            return myColor[params.dataIndex % num]
                        },
                    }
                },
                z: 2
            }, {
                name: '白框',
                type: 'bar',
                yAxisIndex: 1,
                barGap: '-100%',
                data: [69, 69, 69, 69, 69, 69, 69],
                barWidth: 15,
                itemStyle: {
                    normal: {
                        color: '#0e2147',
                        barBorderRadius: 5,
                    }
                },
                z: 1
            }, {
                name: '外框',
                type: 'bar',
                yAxisIndex: 2,
                barGap: '-100%',
                data: [70, 70, 70, 70, 70, 70, 70],
                barWidth: 17,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            var num = myColor.length;
                            return myColor[params.dataIndex % num]
                        },
                        barBorderRadius: 5,
                    }
                },
                z: 0
            },
                {
                    name: '外圆',
                    type: 'scatter',
                    hoverAnimation: false,
                    data: [0, 0, 0, 0,0,0,0],
                    yAxisIndex: 2,
                    symbolSize: 15,
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                var num = myColor.length;
                                return myColor[params.dataIndex % num]
                            },
                            opacity: 1,
                        }
                    },
                    z: 2
                }
            ]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }

    function chart8(data){
        var nameArr = [];
        var valueArr = [];
        var arrSort = [];
        for(var i=0;i<data.length;i++) {
            nameArr.push(data[i].name);
            valueArr.push(data[i].value);
            arrSort.push(data[i].value);
        }
        arrSort.sort(function (a, b) {
            return a-b;
        });
        var max = parseInt(arrSort[arrSort.length - 1]);
        var arrSort1=[]
        var arrSort2=[]
        var arrSort3=[]
        for(var i=0;i<data.length;i++) {
            arrSort1.push(max+9)
            arrSort2.push(max+10)
            arrSort3.push(0)
        }
        var myColor = [ '#eb3600',  '#34da62', '#00c0e9', '#0096f3'];
        var myChart = echarts.init(document.getElementById('echart8'));
        var option = {
            grid: {
                left: '20%',
                top: '0%',
                right: '5%',
                bottom: '0%',
                containLabel: true
            },
            xAxis: [{
                show: false,
            }],
            yAxis: [{
                axisTick: 'none',
                axisLine: 'none',
                offset: '27',
                axisLabel: {
                    textStyle: {
                        color: '#5E7DB4',
                        fontSize: '12',
                    }
                },
                data: ['工程设备','器材工具','照明设备','通讯广播','交通运输','工程材料']
            }, {
                axisTick: 'none',
                axisLine: 'none',
                axisLabel: {
                    textStyle: {
                        color: '#5E7DB4',
                        fontSize: '12',
                    }
                },
                data: []
            }, {
                name: '',
                nameGap: '50',
                nameTextStyle: {
                    color: '#5E7DB4',
                    fontSize: '12',
                },
                axisLine: {
                    lineStyle: {
                        color: 'rgba(0,0,0,0)'
                    }
                },
                data: [],
            }],
            series: [{
                name: '条',
                type: 'bar',
                yAxisIndex: 0,
                data: [50,10,22,15,55,44],
                label: {
                    normal: {
                        show: true,
                        position: 'right',
                        textStyle: {
                            color: '#5E7DB4',
                            fontSize: '12',
                        }
                    }
                },
                barWidth: 10,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            var num = myColor.length;
                            return myColor[params.dataIndex % num]
                        },
                    }
                },
                z: 2
            }, {
                name: '白框',
                type: 'bar',
                yAxisIndex: 1,
                barGap: '-100%',
                data: [69, 69, 69, 69, 69,  69],
                barWidth: 15,
                itemStyle: {
                    normal: {
                        color: '#0e2147',
                        barBorderRadius: 5,
                    }
                },
                z: 1
            }, {
                name: '外框',
                type: 'bar',
                yAxisIndex: 2,
                barGap: '-100%',
                data: [70, 70, 70, 70, 70,  70],
                barWidth: 17,
                itemStyle: {
                    normal: {
                        color: function (params) {
                            var num = myColor.length;
                            return myColor[params.dataIndex % num]
                        },
                        barBorderRadius: 5,
                    }
                },
                z: 0
            },
                {
                    name: '外圆',
                    type: 'scatter',
                    hoverAnimation: false,
                    data: [0, 0, 0, 0,0,0],
                    yAxisIndex: 2,
                    symbolSize: 15,
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                var num = myColor.length;
                                return myColor[params.dataIndex % num]
                            },
                            opacity: 1,
                        }
                    },
                    z: 2
                }
            ]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
    function chart7(data){
        var myChart = echarts.init(document.getElementById('echart7'));
        var option = {
            grid: {
                left: '9%',
                right: '10%',
                top:'20%',
                bottom: '15%',
                containLabel: true
            },
            tooltip : {
                show: true,
                trigger: 'item'
            },
            legend: {
                show:true,
                x:'center',
                top:'12%',
                y:'35',
                icon: 'stack',
                itemWidth:10,
                itemHeight:10,
                textStyle:{
                    color:'#1bb4f6'
                },
                data:[data[0].name,data[1].name]
            },
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    axisLabel:{
                        color: '#30eee9'
                    },
                    axisLine:{
                        show:true,
                        lineStyle:{
                            color:'#397cbc'
                        }
                    },
                    axisTick:{
                        show:false,
                    },
                    splitLine:{
                        show:false,
                        lineStyle:{
                            color:'#195384'
                        }
                    },
                    data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    name : '千瓦时',
                    axisLabel : {
                        formatter: '{value}',
                        textStyle:{
                            color:'#2ad1d2'
                        }
                    },
                    axisLine:{
                        lineStyle:{
                            color:'#27b4c2'
                        }
                    },
                    axisTick:{
                        show:false,
                    },
                    splitLine:{
                        show:true,
                        lineStyle:{
                            color:'#11366e'
                        }
                    }
                },

            ],
            series : [
                {
                    name:data[0].name,
                    type:'line',
                    symbol:'circle',
                    symbolSize: 8,
                    itemStyle: {
                        normal: {
                            color:'#0092f6',
                            lineStyle: {
                                color: "#0092f6",
                                width:1
                            },
                            areaStyle: {
                                //color: '#94C9EC'
                                color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                                    offset: 0,
                                    color: 'rgba(7,44,90,0.3)'
                                }, {
                                    offset: 1,
                                    color: 'rgba(0,146,246,0.9)'
                                }]),
                            }
                        }
                    },
                    markPoint:{
                        itemStyle:{
                            normal:{
                                color:'red'
                            }
                        }
                    },
                    data:data[0].value
                },
                {
                    name:data[1].name,
                    type:'line',
                    symbol:'circle',
                    symbolSize: 8,

                    itemStyle: {
                        normal: {
                            color:'#00d4c7',
                            lineStyle: {
                                color: "#00d4c7",
                                width:1
                            },
                            areaStyle: {
                                //color: '#94C9EC'
                                color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                                    offset: 0,
                                    color: 'rgba(7,44,90,0.3)'
                                }, {
                                    offset: 1,
                                    color: 'rgba(0,212,199,0.9)'
                                }]),
                            }
                        }
                    },
                    data:data[1].value
                },
                /*{
                    name:data[2].name,
                    type:'line',
                    symbol:'circle',
                    symbolSize: 8,
                    itemStyle: {
                        normal: {
                            color: '#aecb56',
                            lineStyle: {
                                color: "#aecb56",
                                width:1
                            },
                            areaStyle: {
                                //color: '#94C9EC'
                                color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [{
                                    offset: 0,
                                    color: 'rgba(7,44,90,0.3)'
                                }, {
                                    offset: 1,
                                    color: 'rgba(114,144,89,0.9)'
                                }]),
                            }
                        }
                    },
                    data:data[2].value
                },*/

            ]
        }
        myChart.setOption(option);
        window.addEventListener("resize", function() {
            myChart.resize();
        });
    }
</script>
</body>
</html>
